{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
	.form-group.required .control-label:after {
	  content:"  *";
	  color:red;
	}
</style>
<style>
.table-wrapper {
    height: 350px;
    overflow: auto;
    display:inline-block;
    width: 440px;
</style>
{% if ERROR %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-6 offset-3">
				<div class="card text-center border-danger">
					<div class="card-header">
						<h2 style="text-align:center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for text in ERROR %}
								{{text}}
							{% endfor %}
						</p>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los Diocesis {{confirmation_data}} se ha guardado correctamente</p>
						<br><br><br>
						<input type="button" value="Dar de alta otra Diocesis" onclick="location.href ='/altaDiocesis' ;"/>
						<br><br>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
		    </div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->

{% else %}
	<br><br>
	<div class="container-md">
	    <div class="row g-3"">
	        <div class="col-md-6">
	            <div class="card">
					<div class="card-header"><h2 style="text-align:center">Formulario alta Diocesis</h2> </div>
	                <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="altaDiocesis" id="altaDiocesis" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="altaDiocesis"/>
							<div class="form-group required">
		                        <div class="col-md-6">
		                            <label class="control-label " for="nombre">Nombre de la Diocesis</label>
		                            <input type="text" required class="form-control" id="nombre", name='nombre'>
		                        </div>
								<div class="col-md-6">
		                            <label class="control-label " for="nombre">Seleciona la Delegación de la que depende</label>
									<select id="delegacion_id" required class="form-select" name="delegacion_id">
										<option value="">Selecciona la delegación</option>
										{% for dele_id, dele_name in diocesis_data.delegation_data %}
		                                	<option value = {{dele_id}}>{{dele_name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<br><br>
	                        <div class="col-12">
	                            <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
	                            <button type="submit" class="btn-outline-primary float-end ">Guardar datos</button>
	                        </div>
	                    </form>
						<br><br>
						<p>Los campos con  <span style="color:red"> * </span> son obligatorios</p>
	                </div>  <!-- end card-body -->
	            </div>  <!-- end card -->
	        </div> <!-- end col-md-6 -->
			<div class="col-md-5 offset-1">
	            <div class="card">
					<div class="card-header"><h2 style="text-align:center">Listado de Diocesises</h2> </div>
	                    <div class="card-body">
							<div class="table-wrapper">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Diocesis</th>
											<th>Delegación</th>
										</tr>
									</thead>
	                            	<tbody>
										{% for diocesis, delegacion in diocesis_data.diocesis_list %}
											<tr>
												<td>{{ diocesis }}</td>
												<td>{{delegacion}}</td>
											</tr>
											{% endfor %}
		                            </tbody>
		                        </table>
							<div> <!-- end table-wrapper -->
						</div>  <!-- end card-body -->
		            </div>  <!-- end card -->
		        </div> <!-- end col-md-5 -->
	    </div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}
{% endblock %}
