{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
	.form-group.required .control-label:after {
	  content:"  *";
	  color:red;
	}
</style>
{% if ERROR %}

	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card  border-danger">
					<div class="card-header"><h2 style="text-align:center">El personal de iglesia no se puede crear</h2> </div>
					<div class="card-body">
						{% for values in ERROR %}
							<h4>{{values}}</h4>
						{% endfor %}
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 

{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los datos de {{confirmation_data.nombre}} {{confirmation_data.apellido}} se han guardado correctamente</p>
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<p>Para dar de alta un nuevo personal de la AIC hacer click en el boton de abajo</p>
						
						<div class="text-center">
							<a href="/altaPersonalIglesia"> <button type="button" class="btn btn-outline-secondary float-center" >Añadir un nuevo personal</button> </a>
						</div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 

{% else %}
	<section class="light">
		<div class="container md-8">
			<h1 class="h1 text-center" id="pageHeaderTitle">Formulario de alta Personal de la Iglesia</h1>
	    </div>
	</section>
	<div class="container-md">
	    <div class="row g-3">
	        <div class="col-md-10">
	            <div class="card">
	                    <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="altaPersonal" id="altaPersonal" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="altaPersonal"/>
							<div class="form-group required">
		                        <div class="col-md-6">
		                            <label class="control-label " for="nombre">Nombre</label>
		                            <input type="text" required class="form-control" id="nombre", name='nombre'>
		                        </div>

		                        <div class="col-md-6">
		                            <label for="apellido"  class="control-label">Apellido</label>
		                            <input type="text" required class="form-control" id="apellido" name='apellido'>
		                        </div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
		                            <label for="nif"  class="control-label">NIF/NIE</label>
		                            <input type="text" class="form-control" id="nif" name='nif'>
		                        </div>
								<div class="col-md-5">
		                            <label for="nacimiento" class="control-label">Fecha de Nacimiento</label>
		                            <input type="date"  class="form-control" id="nacimiento" name='nacimiento'>
		                        </div>
								<div class="col-md-12">
								   <label for="calle" class="form-label">Calle</label>
								   <input type="text" class="form-control" id="calle" name='calle' placeholder="Indicar la calle">
							   </div>
							   <div class="col-md-6">
								   <label for="poblacion" class="form-label">Población</label>
								   <input type="text" class="form-control" id="poblacion" name='poblacion'>
							   </div>
							   <div class="col-md-4">
								   <label for="provincia" class="form-label">Provincia</label>
								   <select id="provincia" class="form-select" name='provincia'>
									   <option selected value=''>Selecionar</option>
									   {% for prov in personel_data.provincias %}
										   <option value ="{{forloop.counter0}}">{{prov}}</option>
									   {% endfor %}
								   </select>
							   </div>
							   <div class="col-md-2">
								   <label for="codigo" class="form-label">Código Postal</label>
								   <input type="text" class="form-control" id="codigo" name='codigo'>
							   </div>
		                        <div class="col-12">
		                            <label for="email" class="form-label">email</label>
		                            <input type="email"  class="form-control" id="email" name='email'>
		                        </div>
		                        <div class="col-md-6">
		                            <label for="fijo" class="form-label">Telefono Fijo</label>
		                            <input type="text" class="form-control" id="fijo" name='fijo'>
		                        </div>
		                        <div class="col-md-6">
		                            <label for="movil" class="form-label">Telefono Movil</label>
		                            <input type="tel" class="form-control" id="movil" name='movil'>
		                        </div>
							</div>
							
							<div class="col-md-6">
								<label for="rec_boletin"  class="control-label">Desea recibir boletín</label>
								<select id="rec_boletin"  class="form-select" name='rec_boletin'>
									<option value="0">No deseo recibir el boletin</option>
									<option value="1">Si, Boletin online</option>
									<option value="2">Si, Boletin por correo postal</option>
								</select>
							</div>
							
	                        <div class="col-12">
	                            <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
	                            <button type="submit" class="btn-outline-primary float-end ">Guardar datos</button>
	                        </div>
	                    </form>
						<p>Los campos con  <span style="color:red"> * </span> son obligatorios</p>
	                </div>
	            </div>
	        </div> 
	    </div> 
	</div> 
{% endif %}
{% endblock %}
