{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% if ERROR %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card  border-danger">
					<div class="card-header"><h2 style="text-align:center">El personal de iglesia no se puede crear</h2> </div>
					<div class="card-body">
						{% for values in ERROR %}
							<h4>{{values}}</h4>
						{% endfor %}
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los datos de {{confirmation_data.nombre}} {{confirmation_data.apellido}} se han guardado correctamente</p>
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<p>Para dar de alta un nuevo personal de la AIC hacer click en el boton de abajo</p>
						
						<div class="text-center">
							<a href="/altaPersonalIglesia"> <button type="button" class="btn btn-outline-secondary float-center" >Añadir un nuevo personal</button> </a>
						</div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 

{% else %}
	<section class="light">
		<div class="container md-8">
			<h1 class="h1 text-center" id="pageHeaderTitle">Formulario de alta Personal de la Iglesia</h1>
	    </div>
	</section>
	<div class="container-md">
	    <div class="row g-3">
	        <div class="col-md-12">
	            <div class="card">
	                    <div class="card-body">
	                    <form class="row" method="post" enctype="multipart/form-data" name="altaPersonal" id="altaPersonal" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="altaPersonal"/>
                            <div class="row g-1 mt-3">
		                        <div class="col">
		                            <div class="form-floating">
                                        <input type="text" required class="form-control" id="nombre" name='nombre' placeholder="Nombre">
                                        <label class="text-danger " for="nombre">Nombre</label>
		                            </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" required class="form-control" id="apellido" name='apellido' placeholder="Apellido">
                                        <label for="apellido"  class="text-danger">Apellido</label>
                                </div>
							</div>
                            <div class="row g-1 mt-3">
		                        <div class="col">
		                            <div class="form-floating">
                                        <input type="text"  class="form-control" id="nif" name='nif' placeholder="NIF">
                                        <label for="nif">NIF/NIE</label>
		                            </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="date"  class="form-control" id="nacimiento" name='nacimiento' placeholder="Nacimiento">
                                        <label for="nacimiento">Fecha de Nacimiento</label>
		                            </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="date"  class="form-control" id="alta" name='alta' placeholder="Alta">
                                        <label for="alta">Fecha de Alta</label>
		                            </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="calle" name='calle' placeholder="Indicar la calle">
                                        <label for="calle">Calle</label>
                            </div>
                            <div class="row g-1 mt-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="poblacion" name='poblacion' placeholder="Poblacion">
                                        <label for="poblacion">Población</label>
		                            </div>
                                </div>
		                        <div class="col">
		                            <div class="form-floating">
                                        <select id="provincia" required class="form-select" name='provincia'>
                                            <option selected value=''>Selecionar</option>
                                            {% for prov in personel_data.provincias %}
                                                <option value = {{forloop.counter0}}>{{prov}}</option>
                                            {% endfor %}
                                        </select>
                                        <label class="text-danger" for="provincia">Provincia</label>
		                            </div>
                                </div>
		                        <div class="col-md-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="codigo" name='codigo' placeholder="codigo">
                                            <label for="codigo" >Código Postal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-1 mt-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" name='email' placeholder="email">
                                        <label for="email">email</label>
                                    </div>
                                </div>
		                        <div class="col-md-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="fijo" name='fijo' placeholder="Telefono fijo">
                                        <label for="fijo" >Telefono Fijo</label>
                                    </div>
                                </div>
		                        <div class="col-md-3">
                                    <div class="form-floating">
                                        <input type="tel" class="form-control" id="movil" name='movil' placeholder="Telefono movil">
                                        <label for="movil">Telefono Movil</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-1 mt-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <select id="grupoID" class="form-select" name="grupoID">
                                            <option selected value=''>Selecionar</option>
                                            {% for grupo_id, grupo_name , diocesis_name in personel_data.grupos_diocesis_id_name %}
                                                <option value="{{grupo_id}}">{{grupo_name}} en la diocesis de {{diocesis_name}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="nombre">Seleciona el Grupo del que depende</label>
								    </div>
								</div>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <select id="rec_boletin"  class="form-select" name='rec_boletin'>
                                            <option value="0">No deseo recibir el boletin</option>
                                            <option value="1">Si, Boletin online</option>
                                            <option value="2">Si, Boletin por correo postal</option>
                                        </select>
                                        <label for="rec_boletin">Desea recibir boletín</label>
                                    </div>
                                </div>
							</div>
	                        <div class="row my-3">
	                            <div class="col">
                                    <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
                                    <input class="btn float-end btn-outline-primary" type="submit" value="Guardar datos">
                                </div>
	                        </div>
	                    </form>
						<p>Los campos en <span style="color:red"> rojo </span> son obligatorios</p>
	                </div>
	            </div>
	        </div> 
	    </div> 
	</div> 
{% endif %}
{% endblock %}
