{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}

{% if ERROR %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-6 offset-3">
				<div class="card text-center border-danger">
					<div class="card-header">
						<h2 style="text-align:center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for text in ERROR %}
								{{text}}
							{% endfor %}
						</p>
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los delegación {{confirmation_data}} se ha guardado correctamente</p>
						
						<input type="button" value="Dar de alta otra Delegación" onclick="location.href ='/altaDelegacion' ;"/>
						
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 

{% else %}
	
	<div class="container-md">
	    <div class="row g-2">
	        <div class="col">
	            <div class="card">
					<div class="card-header"><h2 style="text-align:center">Formulario alta Delegación</h2> </div>
	                <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="altaDelegacion" id="altaDelegacion" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="altaDelegacion"/>
                            <div class="row">
		                        <div class="col">
		                            <div class="form-floating my-3">
                                        <input type="text" required class="form-control" id="nombre", name='nombre' placeholder="Nombre">
                                        <label for="nombre" class="text-danger">Nombre de la Delegación</label>
                                    </div>
		                        </div>
                            </div>
                            <div class="row">
		                        <div class="col">
                                    <div class="mb-3">                         
                                        <label for="imagen" class="form-label text-danger">Sube la imagen de la Delegación</label>
                                        <input type="file"  class="form-control " id="uploadImage" name="uploadImage" accept=".png, .jpg, .gif">
                                    </div>
                                </div>
                            </div>
							<div class="row my-3">
                                <div class="col">
                                    <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
                                    <input class="btn float-end btn-outline-primary" type="submit" value="Guardar datos">
                                </div>
	                        </div>
	                    </form>
						<p>Los campos en  <span style="color:red"> rojo </span> son obligatorios</p>
	                </div>  
	            </div> 
	        </div> 
			<div class="col">
	            <div class="card">
					<div class="card-header"><h2 style="text-align:center">Listado de delegaciones</h2> </div>
	                    <div class="card-body">
							<table class="table table-hover">
                            	<tbody>
									{% for delegacion in delegaciones %}
										<tr>
											<td>{{ delegacion }}</td>
										</tr>
										{% endfor %}
	                            </tbody>
	                        </table>
						</div>  
		            </div> 
		        </div> 
	    </div> 
	</div> 
{% endif %}
{% endblock %}
