{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
{% if ERROR %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-6 offset-3">
				<div class="card text-center border-danger">
					<div class="card-header">
						<h2 style="text-align:center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for text in ERROR %}
								{{text}}
							{% endfor %}
						</p>
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 
{% endif %}
{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 class"text-center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p class="text-center">Los datos del grupo {{confirmation_data}} se han guardado correctamente</p>
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<p>Para dar de alta una nuevo grupo hacer click en el boton de abajo</p>
						
						<div class="text-center">
							<a href="/altaGrupo"> <button type="button" class="btn btn-outline-secondary float-center" >Añadir un nuevo grupo</button> </a>
						</div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 

{% else %}
	<section class="light">
		<div class="container md-8">
			<h1 class="h1 text-center" id="pageHeaderTitle">Formulario de alta de un Grupo</h1>
	    </div>
	</section>
	<div class="container-md">
	    <div class="row g-2">
	        <div class="col-md-6">
	            <div class="card">
	                <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="altaGrupo" id="altaGrupo" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="altaGrupo"/>
                            <div class="row">
		                        <div class="col">
		                            <div class="form-floating mt-3">
                                        <input type="text" required class="form-control" id="nombre", name='nombre' placeholder="Nombre del grupo">
                                        <label for="nombre" class="text-danger">Nombre del grupo</label>
                                    </div>
		                        </div>
                            </div>
							<div class="row">
		                        <div class="col">
		                            <div class="form-floating mt-3">
                                        <select id="diocesis_id" required class="form-select" name="diocesis_id">
                                            <option value="">Selecciona la diocesis</option>
                                            {% for diocesis_id, diocesis in grupo_data.diocesis_id_name_list %}
                                                <option value = {{diocesis_id}}>{{diocesis}}</option>
                                            {% endfor %}
                                        </select>
                                        <label class="text-danger" for="nombre">Seleciona la Diocesis de la que depende el Grupo</label>
                                    </div>
								</div>
							</div>
							<div class="row">
		                        <div class="col">
		                            <div class="form-floating mt-3">
                                        <input type="text"  class="form-control" id="registro" name='registro' placeholder="Numero registro">
                                        <label for="registro">Número de Registro</label>
                                    </div>
		                        </div>
                            </div>
							<div class="row">
		                        <div class="col">
		                            <div class="form-floating mt-3">
                                        <input type="date"  class="form-control" id="fechaErecion" name='fechaErecion'>
                                        <label for="fechaErecion">Fecha Ereción</label>
                                    </div>
                                </div>
                            </div>
							<div class="row">
		                        <div class="col">
		                            <div class="form-floating mt-4">
                                        <input type="text" required class="form-control" id="calle" name='calle' placeholder="Calle">
                                        <label for="calle" class="text-danger">Calle</label>
		                            </div>
		                        </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mt-3">
                                        <input type="text" required class="form-control" id="poblacion" name='poblacion' placeholder="Poblacion">
                                        <label for="poblacion"  class="text-danger">Población</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mt-3">
                                        <select id="provincia"  required class="form-select" name='provincia'>
                                        <option selected value=''>Selecionar</option>
                                        {% for prov in grupo_data.provincias %}
                                            <option value ="{{forloop.counter0}}">{{prov}}</option>
                                        {% endfor %}
                                        </select>
                                        <label for="provincia" class="text-danger">Provincia</label>
                                    </div>
		                        </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mt-3">
                                        <input type="text" required class="form-control" id="codigo" name='codigo' placeholder="Codigo postal">
                                        <label for="codigo" class="text-danger">Código Postal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="input-group">
                                        <span class="input-group-text">Observaciones</span>
                                        <textarea class="form-control" name="observaciones" rows="8" cols="50" maxlength="500"></textarea>
                                    </div>
                                </div>
                            </div>
							<div class="row my-3">
	                            <div class="col">
                                    <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
                                    <input class="btn float-end btn-outline-primary" type="submit" value="Guardar datos">
                                </div>
	                        </div>
	                    </form>
						<p>Los campos en <span style="color:red"> rojo </span> son obligatorios</p>
	                </div>
	            </div>
	        </div>
			<div class="col-md-6">
	            <div class="card">
					<div class="card-header"><h2 style="text-align:center">Listado de Grupos</h2> </div>
	                    <div class="card-body">
							<div class="table-wrapper">
								<table class="table table-hover" id="grupo_tabla">
									<thead>
										<tr>
											<th>Delegación</th>
											<th>Diocesis</th>
											<th>Grupo</th>
										</tr>
									</thead>
	                            	<tbody>
										{% for delegacion, diocesis, gr_id, grupo in grupo_data.grupos_diocesis_id_name %}
											<tr>
												<td>{{delegacion}}</td>
												<td>{{ diocesis }}</td>
												<td><a href="modificarGrupo={{gr_id}}">{{grupo}}</a></td>
											</tr>
										{% endfor %}
		                            </tbody>
		                        </table>
							<div> 
						</div>  
		            </div> 
		        </div> 
	    </div> 
	</div> 
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#grupo_tabla').DataTable({
            dom: "fltirpB",
            responsive: true,
            buttons: [
                'excel'
            ]
        });
    });
</script>
{% endblock %}
