{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
{% if ERROR %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-6 offset-3">
				<div class="card text-center border-danger">
					<div class="card-header">
						<h2 style="text-align:center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for text in ERROR %}
								{{text}}
							{% endfor %}
						</p>
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row my-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">El proyecto {{confirmation_data}} se ha guardado correctamente</p>
						
						<input type="button" value="Dar de alta otro Proyecto" onclick="location.href ='/altaProyecto' ;"/>
						
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 
{% else %}
	<div class="container-md">
	    <div class="row g-1 justify-content-center">
	        <div class="col-md-6">
	            <div class="card">
					<div class="card-header text-center"><h2>Formulario alta Proyecto</h2=> </div>
	                <div class="card-body">
	                    <form class="row"  method="post" enctype="multipart/form-data" name="altaProyecto" id="altaProyecto" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="altaProyecto"/>
							<div class="row">
		                        <div class="col">
                                    <div class="form-floating mt-3">
                                        <input type="text" required class="form-control" id="nombre", name='nombre' placeholder="Nombre">
                                        <label class="text-danger" for="nombre">Nombre del Proyecto</label>
		                            </div>
		                        </div>
                            </div>
							<div class="row">
		                        <div class="col">
                                    <div class="form-floating mt-3">
                                        <input type="date"  class="form-control" id="alta" name='alta' placeholder="alta">
                                        <label for="alta">Fecha de Alta</label>
                                    </div>
		                        </div>
                            </div>
							<div class="row">
		                        <div class="col">
                                    <div class="form-floating mt-3">
                                        <select id="grupoID" class="form-select" name='grupoID'>
                                            <option selected value=''>Selecciona el grupo</option>
                                            {% for grupo_id, grupo_name , diocesis_name in proyecto_data.grupos_diocesis_id_name %}
                                                <option value="{{grupo_id}}">{{grupo_name}} en la diocesis de {{diocesis_name}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="grupoID">Seleciona el grupo del que depende el proyecto</label>
									</div>
		                        </div>
                            </div>
							<div class="row">
								<div class="col mt-3">                                    
									<label for="uploadMemoria" class="form-label">Memoria del proyecto</label>
								 	<input type="file" class="form-control" name="uploadMemoria" accept=".doc, .docx, .pdf, .txt">
								</div>
                            </div>
							<div class="row">
								<div class="col mt-3">
									<label for="uploadFotografia" class="form-label">Fotografia del proyecto</label>
								 	<input type="file"  class="form-control" name="uploadFotografia" accept=".jpg, .gif, .pdf, .png">
								</div>
							</div>
							<div class="form-group">
		                        <div class="col mt-5">
		                            <label for="observaciones" class="form-label">Observaciones</label>
		                            <textarea name="observaciones" rows="8" cols="52" maxlength="500"></textarea>
		                        </div>
							</div>
							<div class="row">
                                <div class="col my-3">
                                    <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
                                    <input class="btn float-end btn-outline-primary" type="submit" value="Guardar datos">
                                </div>
                            </div>
	                    </form>
                        <p>Los campos en <span style="color:red"> rojo </span> son obligatorios</p>
	                </div>  
	            </div> 
	        </div> 
			<div class="col-md-6">
	            <div class="card">
					<div class="card-header text-center"><h2>Listado de Proyectos</h2=> </div>
	                    <div class="card-body">
                            <table id="projecto_tabla" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Proyecto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proj_id, proj in proyecto_data.p_list %}
                                        <tr>
                                            <td>{{proj}}</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
		            </div> 
		        </div>
            </div>
	    </div> 
	</div> 
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#projecto_tabla').DataTable({
            dom: "fltirpB",
            responsive: true,
            buttons: [
                'excel'
            ]
        });
    });
</script>
{% endblock %}
