{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
	.form-group.required .control-label:after {
	  content:"  *";
	  color:red;
	}
</style>

{% if ERROR %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-6 offset-3">
				<div class="card text-center bg-danger">
					<div class="card-header">
						<h2 style="text-align:center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{% for text in ERROR %}
								{{text}}
							{% endfor %}
						</p>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">La Actividad {{confirmation_data}} se ha guardado correctamente</p>
						<br><br><br>
						<input type="button" value="Dar de alta otra Actividad" onclick="location.href ='/altaActividad' ;"/>
						<br><br>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
		    </div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->

{% else %}
	<br><br>
	<div class="container-md">
	    <div class="row g-3"">
	        <div class="col-md-6">
	            <div class="card">
					<div class="card-header"><h2 style="text-align:center">Formulario alta Actividad</h2> </div>
	                <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="altaActividad" id="altaActividad" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="altaActividad"/>
							<div class="form-group required">
		                        <div class="col-md-8">
		                            <label class="control-label " for="nombre">Nombre de la Actividad</label>
		                            <input type="text" required class="form-control" id="nombre", name='nombre'>
		                        </div>
								<div class="col-md-5">
									<label for="alta" class="control-label">Fecha de Alta</label>
									<input type="date" required class="form-control" id="alta" name='alta'>
								</div>
							<br><br>
							</div>
							<div class="form-group">
								<div class="col-md-8">
		                            <label for="grupoID" class="form-label">Seleciona el grupo del que depende la actividad</label>
		                            <select id="grupoID" class="form-select" name='grupoID'>
		                                <option selected value=''>Selecciona el grupo</option>
										{% for delegacion, grupos in actividad_data.grupos_diocesis_id_name.items %}
											{% for id, grupo, diocesis in grupos %}
		                                		<option value = {{id}}>{{grupo}} en diocesis {{diocesis}}</option>
											{% endfor %}
										{% endfor %}
		                            </select>
		                        </div>
								<br>
								<div class="col-md-8">
									<label for="uploadMemoria" class="form-label">Memoria del proyecto</label><br>
								 	<input type="file" name="uploadMemoria" accept=".doc, .docx, .pdf, .txt">
								</div>
								<br><br>
								<div class="col-md-8">
									<label for="uploadFotografia" class="form-label">Fotografia del proyecto</label><br>
								 	<input type="file" name="uploadFotografia" accept=".jpg, .gif, .pdf, .png">
								</div>
							</div>
							<div class="form-group">
		                        <div class="col-md-6">
		                            <label for="observaciones" class="form-label">Observaciones</label>
		                            <textarea name="observaciones" rows="8" cols="60" maxlength="500"></textarea>
		                        </div>
							</div>
							<br><br>
	                        <div class="col-12">
	                            <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
	                            <button type="submit" class="btn-outline-primary float-end ">Guardar datos</button>
	                        </div>
	                    </form>
						<br><br>
						<p>Los campos con  <span style="color:red"> * </span> son obligatorios</p>
	                </div>  <!-- end card-body -->
	            </div>  <!-- end card -->
	        </div> <!-- end col-md-7 -->
			<div class="col-md-6">
	            <div class="card">
					<div class="card-header"><h2 style="text-align:center">Listado de Actividades </h2> </div>
	                    <div class="card-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Delegación</th>
										<th>Actividad</th>
										<th>Grupo</th>
										<th>Diocesis</th>
									</tr>

								</thead>

                            	<tbody>
									{% for delegacion, diocesis_data in actividad_data.actividad_grupos_diocesis_name.items %}
										<tr>
											<td>{{delegacion}}</td>
											<td></td>
											<td></td>
										</tr>
										{% for diocesis, actividades in diocesis_data.items %}
											{% for id, actividad, grupo in actividades %}
												<tr>
													<td></td>
													<td>{{actividad}}</td>
													<td>{{grupo}}</td>
													<td>{{diocesis}}</td>
												</tr>
												{% endfor %}
											{% endfor %}
									{% endfor %}
	                            </tbody>
	                        </table>
						</div>  <!-- end card-body -->
		            </div>  <!-- end card -->
		        </div> <!-- end col-md-5 -->
	    </div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}
{% endblock %}
