<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>AIC España</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static "aicespana/css/styles.css" %}" rel="stylesheet" />
        {% load user_groups %}
    </head>
     <!-- END HEAD -->
     <!-- BODY -->

    <body>
        <div class="container">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom" id="mainNav">

            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <span><img src="{% static 'aicespana/images/Portada_aplicacion-ECA.gif' %}" alt="imagen AIC" title="AIC " height="36"></span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ms-auto navbar-right">
                        {% if request.user|has_group:"administracion" %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">DELEGACIÓN</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-primary" href="/altaDelegacion">Alta Delegación</a></li>
                                    <li><a class="dropdown-item text-primary" href="/modificacionDelegacion">Modificar datos Delegación</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    DIÓCESIS
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item text-primary" href="/altaDiocesis">Alta Diócesis</a></li>
                                  <li><a class="dropdown-item text-primary" href="/modificacionDiocesis">Modificar datos Diócesis</a></li>
                              </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    PARROQUIA
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item text-primary" href="/altaParroquia">Alta Parroquia</a></li>
                                  <li><a class="dropdown-item text-primary" href="/modificacionParroquia">Modificar datos Parroquia</a></li>
                              </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    GRUPO
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-primary" href="/altaGrupo">Alta Grupo</a></li>
                                    <li><a class="dropdown-item text-primary" href="/modificacionGrupo">Modificar datos Grupo</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    VOLUNTARIO
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-primary" href="/altaVoluntario">Alta Voluntario</a></li>
                                    <li><a class="dropdown-item text-primary" href="/modificacionVoluntario">Modificar datos Voluntario</a></li>
                                    <li><a class="dropdown-item text-primary" href="/cargosVoluntarios">Asignar cargos a Voluntario</a></li>
                                    <li><a class="dropdown-item text-primary" href="/informacionVoluntario">Informacion de Voluntario</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    PERSONAL IGLESIA
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-primary" href="/altaPersonalIglesia">Alta Personal</a></li>
                                    <li><a class="dropdown-item text-primary" href="/modificacionPersonal">Modificar datos Personal</a></li>
                                    <li><a class="dropdown-item text-primary" href="/cargosPersonal">Asignar cargos a Personal</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    PROYECTOS
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-primary" href="/altaProyecto">Alta Proyecto</a></li>
                                    <li><a class="dropdown-item text-primary" href="/modificacionProyecto">Modificar datos Proyecto</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ACTIVIDADES
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-primary" href="/altaActividad">Alta Actividad</a></li>
                                    <li><a class="dropdown-item text-primary" href="/modificacionActividad">Modificar datos Actividad</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                LISTADOS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/listadoDelegaciones">Delegaciones</a></li>
                                <li><a class="dropdown-item" href="/listadoDiocesis">Diocesis</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/listadoVoluntariosGrupo">Voluntarios en un Grupo</a></li>


                            </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/listadoDelegaciones">Listados</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        </div>
        <!-- Logging pannel -->
        {% include 'registration/login_oneline.html' %}
          <!-- End Loggin pannel -->

        {% block content %}
	       <!--========== HERE WILL BE THE INFORMATION FROM DJANGO CODE  ==========-->
        {% endblock %}

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; 2022. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static "aicespana/js/scripts.js"%}" ></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
