{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
	.form-group.required .control-label:after {
	  content:"  *";
	  color:red;
	}
</style>
{% if ERROR %}

	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-10">
				<div class="card  border-danger">
					<div class="card-header"><h2 style="text-align:center">El voluntario no se encuentra en la base de datos</h2> </div>
					<div class="card-body">
						{% for values in ERROR %}
							<h4>{{values}}</h4>
						{% endfor %}
					</div> <!-- end card body-->
				</div> <!-- end card  -->
		    </div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->

{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los datos de {{confirmation_data.nombre}} {{confirmation_data.apellidos}} se han guardado correctamente</p>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
		    </div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<p>Para dar de alta un nuevo voluntario hacer click en el boton de abajo</p>
						<br><br>
						<div class="text-center">
							<a href="/nuevoVoluntario"> <button type="button" class="btn btn-outline-secondary float-center" >Añadir un nuevo Voluntario</button> </a>
						</div> <!-- end text center -->
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->

{% elif personal_available_settings %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Información de {{personal_available_settings.name}}</h2> </div>
					<div class="card-body">
						<div class="col-md-10">
							{% if personal_available_settings.responsability != '' %}
									<h4 style="text-align:center"><strong>{{personal_available_settings.name}} </strong>tiene el cargo de {{personal_available_settings.responsability}}</h4>
							{% else %}
								<h4 style="text-align:center"><strong>{{personal_available_settings.name}} </strong>no tiene acualmente ningún cargo</h4>
							{% endif %}
							<br><br>
							{% if personal_available_settings.collaboration != '' %}
								<h5 style="text-align:center">{{personal_available_settings.name}} es un {{personal_available_settings.collaboration}}</h5>
							{% else %}
								<h5 style="text-align:center">{{personal_available_settings.name}} no se le ha asignado ningun tipo de colaboración</h5>
							{% endif %}
						</div> <!-- end col-md-10 -->
						<div class="col-md-10">
							<p>Datos de la colaboración</p>
							<table class="table table-hover">
								<tbody>
									<tr>
										<td>Proyecto</td>
										<td>
											{% if personal_available_settings.project != '' %}
												{{personal_available_settings.project}}
											{% else %}
												No se ha asignado a ningún proyecto
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Actividad</td>
										<td>
											{% if personal_available_settings.activity != '' %}
												{{personal_available_settings.activity}}
											{% else %}
												No se ha asignado a ninguna actividad
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Grupo</td>
										<td>
											{% if personal_available_settings.group != '' %}
												{{personal_available_settings.group}}
											{% else %}
												No se ha asignado a ningún grupo
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Parroquia</td>
										<td>
											{% if personal_available_settings.parroquia != '' %}
												{{personal_available_settings.parroquia}}
											{% else %}
												No se ha asignado a ninguna Parroquia
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Diocesis</td>
										<td>
											{% if personal_available_settings.diocesis != '' %}
												{{personal_available_settings.diocesis}}
											{% else %}
												No se ha asignado a ninguna Diócesis
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Delegación</td>
										<td>
											{% if personal_available_settings.delegacion %}
												{{personal_available_settings.delegacion}}
											{% else %}
												No se ha asignado a ninguna Delegación
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
						</div> <!-- end col-md-10 -->
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
	<br>
	<div class="container-md">
	    <div class="row g-3">
	        <div class="col-md-10">
	            <div class="card">
					<div class="card-header"><h3 class="h1 text-center" id="pageHeaderTitle">Formulario para asignar cargos</h3></div>
                    <div class="card-body">
	                    <form class="row g-3" method="post" action="cargosVoluntarios"   enctype="multipart/form-data" name="asignarCargos" id="asignarCargos" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="asignarCargos"/>
							<input type="hidden" name="user_id" value="{{personal_available_settings.user_id}}"/>
								<br>
		                        <div class="col-md-10">
		                            <label  class="control-label col-md-3" for="grupo">Seleciona el Grupo</label>
									<select name="grupo" id="grupo" class="col-md-6">
										{% if personal_available_settings.group_id != '' %}
											<option selected value="{{personal_available_settings.group_id}}">{{personal_available_settings.group}} en la dioecsis {{personal_available_settings.diocesis}}</option>
										{% else %}
											<option  selected value="">Sin determinar</option>
										{% endif %}
										{% for id, group, diocesis  in personal_available_settings.available_groups %}
											<option value="{{id}}">{{group}} en la diocesis {{diocesis}}</option>
										{% endfor %}
									</select>

		                        </div>
								<br>
								<div class="col-md-10">
		                            <label for="proyecto"  class="control-label col-md-3">Seleciona el proyecto</label>
									<select name="proyecto" id="proyecto" class="col-md-6">
										{% if personal_available_settings.project_id != '' %}
											<option value="{{personal_available_settings.project_id}}">{{personal_available_settings.project}}</option>
										{% else %}
											<option value="">Sin determinar</option>
										{% endif %}
										{% for id, project  in personal_available_settings.available_projects %}
											<option value="{{id}}">{{project}} </option>
										{% endfor %}
									</select>
								</div>
								<br>

								<div class="col-md-10">
	                            	<label for="actividad"  class="control-label col-md-3">Seleciona la actividad</label>

									<select name="actividad" id="actividad" class="col-md-6">
										{% if personal_available_settings.activity_id != '' %}
											<option value="{{personal_available_settings.activity_id}}">{{personal_available_settings.activity}}</option>
										{% else %}
											<option value="">Sin determinar</option>
										{% endif %}
										{% for id, activity  in personal_available_settings.available_actitvities %}
											<option value="{{id}}">{{activity}}</option>
										{% endfor %}
									</select>
		                        </div>
								<br>
								<div class="col-md-10">
	                            	<label for="cargo"  class="control-label col-md-3">Seleciona el cargo</label>
									<select name="cargo" id="cargo" class="col-md-6">
										{% if personal_available_settings.responsability_id != '' %}
											<option value="{{personal_available_settings.responsability_id}}">{{personal_available_settings.responsability}}</option>
										{% else %}
											<option value="">Sin determinar</option>
										{% endif %}
										{% for id, cargo  in personal_available_settings.available_responsible %}
											<option value="{{id}}">{{cargo}}</option>
										{% endfor %}
									</select>
		                        </div>
								<br>
								<div class="col-md-10">
	                            	<label for="colaboracion"  class="control-label col-md-3">Seleciona el tipo de colaboración</label>
									<select name="colaboracion" id="colaboracion" class="col-md-6">
										{% if personal_available_settings.collaboration_id != '' %}
											<option value="{{personal_available_settings.collaboration_id}}">{{personal_available_settings.collaboration}}</option>
										{% else %}
											<option value="">Sin determinar</option>
										{% endif %}
										{% for id, collaboration  in personal_available_settings.available_collaboration %}
											<option value="{{id}}">{{collaboration}}</option>
										{% endfor %}
									</select>
		                        </div>
	                        <div class="col-12">

	                            <button type="submit" class="btn-outline-primary float-end ">Guardar cambios</button>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div> <!-- end col-md-10 -->
	    </div> <!-- end row-->
	</div> <!-- end container -->
{% elif updated_data %}
	<section class="light">
		<div class="container md-8">
			<h1 class="h1 text-center" id="pageHeaderTitle">Asignacion de cargos de voluntarios</h1>
		</div>
	</section>
	<br><br><br>
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h3 class="h1 text-center" id="pageHeaderTitle">Datos actualizados del voluntario</h3></div>
					<div class="card-body">
						<h3 class="h1 text-center"> {{updated_data.name}}</h3>
						<div class="col-md-10">
							<table class="table table-hover">
								<thead>
									<tr>
										<th colspan="2">Datos de grupo</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Grupo</td>
										<td>
											{% if updated_data.group != '' %}
												{{updated_data.group}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Parroquia</td>
										<td>
											{% if updated_data.parroquia != '' %}
												{{updated_data.parroquia}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Diocesis</td>
										<td>
											{% if updated_data.diocesis != '' %}
												{{updated_data.diocesis}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Delegación</td>
										<td>
											{% if updated_data.delegacion %}
												{{updated_data.delegacion}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
							<br><br>
							<table class="table table-hover">
								<thead>
									<tr>
										<th colspan="2">Cargos que tiene el voluntario</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Tipo de Voluntario</td>
										<td>
											{% if updated_data.collaboration != '' %}
												{{updated_data.collaboration}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Cargo</td>
										<td>
											{% if updated_data.responsability != '' %}
												{{updated_data.responsability}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Proyecto </td>
										<td>
											{% if updated_data.project != '' %}
												{{updated_data.project}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>

									<tr>
										<td>Actividad</td>
										<td>
											{% if updated_data.activity %}
												{{updated_data.activity}}
											{% else %}
												Sin asignar
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
						</div> <!-- end col-md-10 -->
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
{% elif personal_list %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h3 class="h1 text-center" id="pageHeaderTitle">Multiples coincidencias en la busqueda</h3></div>
					<div class="card-body">
						<h5 style="text-align:center">Se han encontrado varios Voluntarios.</h5>
						<p>Añade más información para encontrar sólo a un Voluntario. </p>
						<p>O haz click en el nombre del Voluntario para asignarle  cargos </p>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>Nombre</td>
									<td>Población</td>
								</tr>
							</thead>
							<tbody>
								{% for id, nombre, poblacion in personal_list %}
									<tr>
										<td><a href="cargoVoluntario={{id}}">{{nombre}}</a></td>
										<td>{{poblacion}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<br><br>
						<div class="text-center">
							<a href="/modificacionVoluntario"> <button type="button" class="btn btn-outline-secondary float-center" >Buscar de nuevo</button> </a>
						</div> <!-- end text center -->
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
{% else %}
	<section class="light">
		<div class="container md-8">
			<h1 class="h1 text-center" id="pageHeaderTitle">Asignacion de cargos de voluntarios</h1>

	    </div>
	</section>
	<br><br><br>
	<div class="container-md">
	    <div class="row g-3"">
	        <div class="col-md-10">
	            <div class="card">
					<div class="card-header"><h3 class="h1 text-center" id="pageHeaderTitle">Formulario para la busqueda de voluntario</h3></div>
                    <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="busquedaVoluntario" id="busquedaVoluntario" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="busquedaVoluntario"/>

		                        <div class="col-md-5">
		                            <label class="control-label " for="nombre">Nombre</label>
		                            <input type="text"  class="form-control" id="nombre", name='nombre'>
		                        </div>

		                        <div class="col-md-5">
		                            <label for="apellido"  class="control-label">Apellido</label>
		                            <input type="text"  class="form-control" id="apellido" name='apellido'>
		                        </div>
		                        <div class="col-md-5">
		                            <label for="nif"  class="control-label">NIF/NIE</label>
		                            <input type="text"  class="form-control" id="nif" name='nif'>
		                        </div>

	                        <div class="col-12">
	                            <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
	                            <button type="submit" class="btn-outline-primary float-end ">Buscar voluntario</button>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div> <!-- end col-md-10 -->
	    </div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}
{% endblock %}
