{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
    .form-switch .form-check-input:checked {
        background-position: right center;
        background-color: red !important;
      }
</style>
{% if ERROR %}

	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card  border-danger">
					<div class="card-header"><h2 style="text-align:center">El voluntario no se encuentra en la base de datos</h2> </div>
					<div class="card-body">
						{% for values in ERROR %}
							<h4>{{values}}</h4>
						{% endfor %}
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 

{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los datos de {{confirmation_data.nombre}} {{confirmation_data.apellidos}} se han guardado correctamente</p>
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<p>Para dar de alta un nuevo voluntario hacer click en el boton de abajo</p>
						
						<div class="text-center">
							<a href="/nuevoVoluntario"> <button type="button" class="btn btn-outline-secondary float-center" >Añadir un nuevo Voluntario</button> </a>
						</div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 

{% elif personal_available_settings %}
	<div class="container-md">
		<div class="row g-3 mt-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Información de {{personal_available_settings.name}}</h2> </div>
					<div class="card-body">
						<div class="col-md-10">
							{% if personal_available_settings.responsability != '' %}
									<h4 style="text-align:center"><strong>{{personal_available_settings.name}} </strong>tiene el cargo de {{personal_available_settings.responsability}}</h4>
							{% else %}
								<h4 style="text-align:center"><strong>{{personal_available_settings.name}} </strong>no tiene acualmente ningún cargo</h4>
							{% endif %}
							
							{% if personal_available_settings.collaboration != '' %}
								<h5 style="text-align:center">{{personal_available_settings.name}} es un {{personal_available_settings.collaboration}}</h5>
							{% else %}
								<h5 style="text-align:center">{{personal_available_settings.name}} no se le ha asignado ningun tipo de colaboración</h5>
							{% endif %}
						</div> 
						<div class="col-md-10">
							<p>Datos de la colaboración</p>
							<table class="table table-hover">
								<tbody>
									<tr>
										<td>Proyecto</td>
										<td>
											{% if personal_available_settings.project != '' %}
												{{personal_available_settings.project}}
											{% else %}
												No se ha asignado a ningún proyecto
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Actividad</td>
										<td>
											{% if personal_available_settings.activity != '' %}
												{{personal_available_settings.activity}}
											{% else %}
												No se ha asignado a ninguna actividad
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Grupo</td>
										<td>
											{% if personal_available_settings.group != '' %}
												{{personal_available_settings.group}}
											{% else %}
												No se ha asignado a ningún grupo
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Parroquia</td>
										<td>
											{% if personal_available_settings.parroquia != '' %}
												{{personal_available_settings.parroquia}}
											{% else %}
												No se ha asignado a ninguna Parroquia
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Diocesis</td>
										<td>
											{% if personal_available_settings.diocesis != '' %}
												{{personal_available_settings.diocesis}}
											{% else %}
												No se ha asignado a ninguna Diócesis
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Delegación</td>
										<td>
											{% if personal_available_settings.delegacion %}
												{{personal_available_settings.delegacion}}
											{% else %}
												No se ha asignado a ninguna Delegación
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
						</div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 

	<div class="container-md">
	    <div class="row g-3 mt-3">
	        <div class="col-md-10">
	            <div class="card">
					<div class="card-header"><h3 class="h1 text-center" id="pageHeaderTitle">Formulario para asignar/modificar cargos</h3></div>
                    <div class="card-body">
	                    <form class="row g-3" method="post" action="cargosVoluntarios"   enctype="multipart/form-data" name="asignarCargos" id="asignarCargos" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="asignarCargos"/>
							<input type="hidden" name="user_id" value="{{personal_available_settings.user_id}}"/>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-floating my-2">
                                        <select name="grupo" id="grupo" class="form-select">
                                            {% if personal_available_settings.group_id != '' %}
                                                <option selected value="{{personal_available_settings.group_id}}">{{personal_available_settings.group}} en la dioecsis {{personal_available_settings.diocesis}}</option>
                                                
                                            {% else %}
                                                <option  selected value="">Elegir grupo</option>
                                            {% endif %}
                                            {% for id, group, diocesis  in personal_available_settings.available_groups %}
                                                <option value="{{id}}">{{group}} en la diocesis {{diocesis}}</option>
                                            {% endfor %}
                                        </select>
                                        <label  class="control-label" for="grupo">Seleciona el Grupo</label>
                                    </div>
                                </div>
                                {% if personal_available_settings.group_id != '' %}
                                    <div class="col-md-4">
                                        <div class="form-check form-switch mt-2">
                                            <input class="form-check-input " type="checkbox" name="eliminar_grupo" id="eliminar_grupo">
                                            <label class="form-check-label" for="eliminar_grupo">Eliminar asignacion al grupo</label>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-floating my-2">
                                        <select name="proyecto" id="proyecto" class="form-select">
                                            {% if personal_available_settings.project_id != '' %}
                                                <option value="{{personal_available_settings.project_id}}">{{personal_available_settings.project}}</option>
                                            {% else %}
                                                <option value="">Elegir Proyecto</option>
                                            {% endif %}
                                            {% for id, project  in personal_available_settings.available_projects %}
                                                <option value="{{id}}">{{project}} </option>
                                            {% endfor %}
                                        </select>
                                        <label for="proyecto"  class="control-label">Seleciona el proyecto</label>
                                    </div>
                                </div>
                                {% if personal_available_settings.project_id != '' %}
                                    <div class="col-md-4">
                                        <div class="form-check form-switch mt-2">
                                            <input class="form-check-input " type="checkbox" name="eliminar_proyecto" id="eliminar_proyecto">
                                            <label class="form-check-label" for="eliminar_grupo">Eliminar asignacion al proyecto</label>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-floating my-2">
                                        <select name="actividad" id="actividad" class="form-select">
                                            {% if personal_available_settings.activity_id != '' %}
                                                <option value="{{personal_available_settings.activity_id}}">{{personal_available_settings.activity}}</option>
                                            {% else %}
                                                <option value="">Elegir Actividad</option>
                                            {% endif %}
                                            {% for id, activity  in personal_available_settings.available_actitvities %}
                                                <option value="{{id}}">{{activity}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="actividad"  class="control-label">Seleciona la actividad</label>
                                    </div>
                                </div>
                                {% if  personal_available_settings.activity_id != '' %}
                                    <div class="col-md-4">
                                        <div class="form-check form-switch mt-2">
                                            <input class="form-check-input " type="checkbox" name="eliminar_actividad" id="eliminar_actividad">
                                            <label class="form-check-label" for="eliminar_grupo">Eliminar asignacion de la actividad</label>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-floating my-2">
                                        <select name="cargo" multiple="multiple" size="8" id="cargo" class="form-select" style="height: 30%;"> 
                                            {% if personal_available_settings.responsability_id != '' %}
                                                <option value="{{personal_available_settings.responsability_id}}" selected>{{personal_available_settings.responsability}}</option>
                                            {% else %}
                                                <option value="">Elegir cargo</option>
                                            {% endif %}
                                            {% for id, cargo  in personal_available_settings.available_responsible %}
                                                <option value="{{id}}">{{cargo}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="cargo"  class="control-label">Seleciona el cargo</label>
                                    </div>
                                </div>
                                {% if  personal_available_settings.responsability_id != '' %}
                                    <div class="col-md-4">
                                        <div class="form-check form-switch mt-5">
                                            <input class="form-check-input " type="checkbox" name="eliminar_cargo" id="eliminar_cargo">
                                            <label class="form-check-label" for="eliminar_grupo">Eliminar todos los cargos</label>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-floating my-2">
                                        <select name="colaboracion" id="colaboracion" class="form-select">
                                            {% if personal_available_settings.collaboration_id != '' %}
                                                <option value="{{personal_available_settings.collaboration_id}}">{{personal_available_settings.collaboration}}</option>
                                            {% else %}
                                                <option value="">Selecciona el tipo de colaboración</option>
                                            {% endif %}
                                            {% for id, collaboration  in personal_available_settings.available_collaboration %}
                                                <option value="{{id}}">{{collaboration}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="colaboracion"  class="control-label">Seleciona el tipo de colaboración</label>
                                    </div>
                                </div>
                            </div>
	                        <div class="row">
                                <div class="col">
                                    <input class="btn float-end btn-outline-primary my-3" type="submit" value="Guardar datos">
                                </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div> 
	    </div> 
	</div> 
{% elif updated_data %}
    <div class="container-md">
        <div class="row g-3 justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header text-center"><h2>Datos Guardados</h2> </div>
                    <div class="card-body">
                        <p style="text-align:center">Los datos se han guardado correctamente</p>
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="container-md">
        <div class="row g-3 justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <p>Para asignar cargos a otro voluntario hacer click en el boton de abajo</p>
                        
                        <div class="text-center">
                            <a href="/cargosVoluntarios"> <button type="button" class="btn btn-outline-secondary float-center" >Actualizar cargos voluntario</button> </a>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
{% elif personal_list %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h3 class="h1 text-center" id="pageHeaderTitle">Multiples coincidencias en la busqueda</h3></div>
					<div class="card-body">
						<h5 style="text-align:center">Se han encontrado varios Voluntarios.</h5>
						<p>Añade más información para encontrar sólo a un Voluntario. </p>
						<p>O haz click en el nombre del Voluntario para asignarle  cargos </p>
						<table class="table table-hover">
							<thead>
								<tr>
									<td>Nombre</td>
									<td>Población</td>
								</tr>
							</thead>
							<tbody>
								{% for id, nombre, poblacion in personal_list %}
									<tr>
										<td><a href="cargoVoluntario={{id}}">{{nombre}}</a></td>
										<td>{{poblacion}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						
						<div class="text-center">
							<a href="/modificacionVoluntario"> <button type="button" class="btn btn-outline-secondary float-center" >Buscar de nuevo</button> </a>
						</div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 
{% else %}
	<section class="light">
		<div class="container md-8">
			<h1 class="h1 text-center" id="pageHeaderTitle">Asignacion de cargos de voluntarios</h1>

	    </div>
	</section>
	
	<div class="container-md">
	    <div class="row g-3 justify-content-center">
	        <div class="col-md-10">
	            <div class="card">
					<div class="card-header"><h3 class="h1 text-center" id="pageHeaderTitle">Formulario para la busqueda de voluntario</h3></div>
                    <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="busquedaVoluntario" id="busquedaVoluntario" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="busquedaVoluntario"/>
                            <div class="row g-1 mt-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text"  class="form-control" id="nombre", name='nombre' placeholder="Nombre">
		                                <label for="nombre">Nombre</label>
                                    </div>    
		                        </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text"  class="form-control" id="apellido" name='apellido' placeholder="Apellido">
                                        <label for="apellido">Apellido</label>
                                    </div>    
		                        </div>        
		                    </div>
                            <div class="row g-1 mt-3">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="text"  class="form-control" id="nif" name='nif' placeholder="NIF">
                                        <label for="nif">NIF/NIE</label>
		                            </div>
                                </div>    
                            </div>
                            <div class="row g-1 mt-3">
                                <div class="col">
                                    <input type="reset" class="btn btn-outline-secondary" value="Limpiar campos">
                                    <input class="btn float-end btn-outline-primary" type="submit" value="Buscar voluntario">
                                </div>
                            </div>
	                    </form>
	                </div>
	            </div>
	        </div> 
	    </div> 
	</div> 
{% endif %}
{% endblock %}
