{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Hay mucho trabajo por hacer, y no estamos solos</h1>
                </div>
            </div>
        </div>
        <div class="text-center">
            <span><img src="{% static 'aicespana/images/Portada_aplicacion-ECA.gif' %}" alt="imagen AIC" title="AIC" class="rounded"></span>
        </div>
    </div>
</header>

{% endblock %}
