{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<div class="container-md">
    {% include "aicespana/cdn_table_functionality.html" %}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <div class="row mt-4">
        <div class="container sm-12">
            
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pendiente-tab" data-bs-toggle="tab" data-bs-target="#pendiente" type="button" role="tab" aria-controls="pendiente" aria-selected="true">Añadir ingreso del voluntario</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pagado-tab" data-bs-toggle="tab" data-bs-target="#pagado" type="button" role="tab" aria-controls="pagado" aria-selected="false">Voluntarios que han realizado ingreso</button>
                  </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="pendiente" role="tabpanel" aria-labelledby="info-tab">
                    <div class="container-md">
                        <div class="row mt-5">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row-mt-2">
                                            <div class="col-md">
                                                <label class="label" for="q"> Escribe el apellido del voluntario</label>
                                            </div>
                                            <div>
                                                <input type="text" name="q" id="search" 
                                                    hx-get="/buscarVoluntarioParaIngreso"
                                                    hx-target="#resultado-voluntario"
                                                    hx-trigger="keyup" 
                                                    placeholder="Buscar voluntario..."
                                                    onkeyup="checkInputLength(this)">
                                            </div>
                                        </div>
                                        
                                        <div class="row-mt-2">
                                    
                                            <div id="resultado-voluntario">
                                                {%  if voluntarios %}
                                                    {% for voluntario in voluntarios %}
                                                        <div class="voluntario" data-id="{{ voluntario.id }}">
                                                            {{ nombre.nombre }}
                                                        </div>
                                                    {% empty %}
                                                        <p>No hay voluntarios para mostrar.</p>
                                                    {% endfor %}
                                                {% else %}
                                                    <h5>No hay voluntarios con el apellido </h5>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">{{ summary.year }}</h4>
                                        <h5>Se han ingresado {{ summary.ingreso_total }} €</h5>
                                        <h5>de {{ summary.num_voluntarios }} voluntarios</h5>

                                    </div>

                                </div>

                            </div> 
                        </div> 
                    </div> 
                </div>  

                <div class="tab-pane fade" id="pagado" role="tabpanel" aria-labelledby="pagado-tab">
                    <div class="container-md">
                        <div class="row mt-5">
                            <div class="col-md">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mt-3">
                                            <h5 class="text-center">Selecciona el año </h5>
                                            <p class="text-center">Para obtener el listado de los voluntarios</p>
                                            <div class="col-md-6 offset-3">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <select class="form-select"  
                                                            name="yearIngresos" 
                                                            id="yearIngresos"
                                                            hx-get="/listadoIngresoVoluntario"
                                                            hx-target="#tabla_ingresos"
                                                            hx-swap="outerHTML">
                                                        <option value="">Elige un  año</option>
                                                        
                                                    </select>
                                                </form>
                                            </div>
                                        </div>
                                        
                                        <div id="tabla_ingresos"></div>
                                        
                                    </div> 
                                </div> 
                            </div> <!-- end col-md-8 -->
                        </div> 
                    </div> 
                </div>  <!-- end tab listado -->
            </div>
        </div> 
    </div>
    <script>
        function checkInputLength(input) {
            let queryLength = input.value.length;
            if (queryLength >= 4) {
                // Solo si el texto tiene al menos 4 caracteres, hacemos la solicitud
                input.setAttribute("hx-get", "/buscarVoluntarioParaIngreso");
            } else {
                // Si el texto tiene menos de 4 caracteres, deshabilitamos la solicitud
                input.removeAttribute("hx-get");
            }
        }
        // script to populate years in the select option
        const startYear = 2024;
        const currentYear = new Date().getFullYear(); // current year
        const selectElement = document.getElementById("yearIngresos");

        for (let year = startYear; year <= currentYear; year++) {
            const option = document.createElement('option');
            option.value = year;
            option.textContent = year;
            selectElement.appendChild(option)
        }
    </script>
   
    


{% endblock %}
