{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
{% if  grupo_data %}
	<div class="container-md">
		<div class="row mt-4">
			<div class="col-md">
				<div class="card">
					<div class="card-header"><h2 class="text-center">Información del grupo  {{grupo_data.nombre_grupo}}</h2> </div>
					<div class="card-body">
						<table  class="table">
							<thead>
								<tr>
									<th class="display-6">Voluntarios</th>
									<th class="display-6">Colaboradores</th>
									<th class="display-6">Asesores</th>
									<th class="display-6">Otros</th>
								</tr>
							</thead>
							<tbody>
								{% for voluntario, colaboradores, asesores, otros  in grupo_data.summary %}
									<tr>
										<td class="display-4">{{voluntario}}</td>
										<td class="display-4">{{colaboradores}}</td>
										<td class="display-4">{{asesores}}</td>
										<td class="display-4">{{otros}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-md my-3">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		    <li class="nav-item" role="presentation">
		    	<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Información General</button>
		  	</li>
		  	<li class="nav-item" role="presentation">
		    	<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#cargos" type="button" role="tab" aria-controls="cargos" aria-selected="false">Cargos del grupo</button>
		  	</li>
		  	{% if grupo_data.lista_voluntarios.mayor80|length > 0  or grupo_data.lista_voluntarios.menor80|length > 0  or grupo_data.lista_voluntarios.sin_edad|length > 0 %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaV" type="button" role="tab" aria-controls="listaVoluntarios" aria-selected="false">Listado de Voluntarios</button>
		  		</li>
		    {% endif %}
			{% if grupo_data.lista_colaboradores.mayor80|length > 0  or grupo_data.lista_colaboradores.menor80|length > 0  or grupo_data.lista_colaboradores.sin_edad|length > 0 %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaC" type="button" role="tab" aria-controls="listaColaboradores" aria-selected="false">Listado de Colaboradores</button>
		  		</li>
		  	{% endif %}
		  	{% if grupo_data.lista_asesores.mayor80|length > 0  or grupo_data.lista_asesores.menor80|length > 0  or grupo_data.lista_asesores.sin_edad|length > 0 %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaA" type="button" role="tab" aria-controls="listaAsesores" aria-selected="false">Listado de Asesores</button>
		  		</li>
		  	{% endif %}
			{% if grupo_data.lista_otros.mayor80|length > 0  or grupo_data.lista_otros.menor80|length > 0 or grupo_data.lista_otros.sin_edad|length > 0  %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaO" type="button" role="tab" aria-controls="listaOtros" aria-selected="false">Listado de Otros</button>
		  		</li>
		  	{% endif %}
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
				<div class="container-md">
					<div class="row mt-3">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header"><h2 class="text-center">Información general</h2> </div>
								<div class="card-body">
									<div class="table-wrapper">
										<table id="infoData" class="table table-hover mb-0">
											<tbody>
												<tr>
													<td>Calle</td>
													<td>{{grupo_data.informacion.4}}</td>
												</tr>
												<tr>
													<td>Población</td>
													<td>{{grupo_data.informacion.5}}</td>
												</tr>
												<tr>
													<td>Provincia</td>
													<td>{{grupo_data.informacion.6}}</td>
												</tr>
												<tr>
													<td>Código Postal</td>
													<td>{{grupo_data.informacion.7}}</td>
												</tr>
												<tr>
													<td>Fecha de Alta</td>
													<td>{{grupo_data.informacion.9}}</td>
												</tr>
												<tr>
													<td>Fecha de Baja</td>
													<td>{{grupo_data.informacion.10}}</td>
												</tr>
												<tr>
													<td>Estado del Grupo</td>
													<td>{{grupo_data.informacion.11}}</td>
												</tr>
											</tbody>
										</table>
									</div> <!--  end of table wrapper  -->
								</div> 
							</div> 
						</div> 
						<div class="col-md-6">
							<div class="card">
								<div class="card-header"><h2 class="text-center">Observaciones</h2> </div>
								<div class="card-body">
									<p>{{grupo_data.informacion.8}}</p>
								</div> 
							</div> 
						</div> 
					</div> 
				</div> 
			</div>  <!-- end tab info -->

			<div class="tab-pane fade" id="cargos" role="tabpanel" aria-labelledby="cargos-tab">
				<div class="container-md">
					<div class="row mt-5 justify-content-center">
						<div class="col-md-10">
							<div class="card">
								<div class="card-header"><h2 class="text-center">Asignación de cargos en el grupo</h2> </div>
								<div class="card-body">
									<div class="container">
										<table class="table table-hover" id="list_cargos_table">
											<thead>
												<tr>
													<th>Cargo en el grupo</th>
													<th>Nombre y apellidos</th>
												</tr>
											</thead>
											<tbody>
												{% for cargo, nombre in grupo_data.cargos.items %}
													<tr>
														<td>{{cargo}}</td>
														<td>{{nombre}}</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if grupo_data.lista_voluntarios.mayor80|length > 0  or grupo_data.lista_voluntarios.menor80|length > 0 or grupo_data.lista_voluntarios.sin_edad|length > 0 %}
				<div class="tab-pane fade" id="listaV" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row my-3">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Voluntarios mayores de 80 años</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_voluntarios.mayor80|length > 0 %}
											<table class="table table-hover" id="list_v_mayor80_table">
												<thead>
													<tr>
														<th>Nombre del voluntario</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in  grupo_data.lista_voluntarios.mayor80 %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h5 class="text-center">No hay voluntarios en este grupo que sean mayores de 80 años</h5>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Voluntarios menores de 80 años </h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_voluntarios.menor80|length > 0 %}
											<table class="table table-hover" id="list_v_menor80_table">
												<thead>
													<tr>
														<th>Nombre del voluntario</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_voluntarios.menor80 %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h5 class="text-center">No hay voluntarios en este grupo que sean menores de 80 años</h5>
										{% endif %}
									</div> 
								</div> 
							</div> 
						</div> 
						{% if grupo_data.lista_voluntarios.sin_edad|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 class="text-center">Voluntarios sin fecha de nacimiento grupo {{grupo_data.nombre_grupo}}</h2> </div>
										<div class="card-body">
											<table class="table table-hover" id="list_v_sinedad_table">
												<thead>
													<tr>
														<th>Nombre del voluntario</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_voluntarios.sin_edad %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>  <!-- end tab listaV -->
			{% endif %}
			{% if grupo_data.lista_colaboradores.mayor80|length > 0  or grupo_data.lista_colaboradores.menor80|length > 0 or grupo_data.lista_colaboradores.sin_edad|length > 0 %}
				<div class="tab-pane fade" id="listaC" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row mt-5">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Colaboradores mayores de 80 años</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_colaboradores.mayor80|length > 0 %}
											<table class="table table-hover" id="list_c_mayor80_table">
												<thead>
													<tr>
														<th>Nombre del colaborador</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_colaboradores.mayor80 %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h5 class="text-center">No hay colaboradores en este grupo que sean mayores de 80 años</h5>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Colaboradores menores de 80 años</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_colaboradores.menor80|length > 0 %}
											<table class="table table-hover" id="list_c_menor80_table">
												<thead>
													<tr>
														<th>Nombre del colaborador</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_colaboradores.menor80 %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h5 class="text-center">No hay colaboradores en este grupo que sean menores de 80 años</h5>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% if grupo_data.lista_colaboradores.sin_edad|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 class="text-center">Colaboradores sin fecha de nacimiento</h2> </div>
										<div class="card-body">
											<table class="table table-hover" id="list_c_sinedad_table">
												<thead>
													<tr>
														<th>Nombre del colaborador</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_colaboradores.sin_edad %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>  <!-- end tab listaC -->
			{% endif %}
			{% if grupo_data.lista_asesores.mayor80|length > 0  or grupo_data.lista_asesores.menor80|length > 0 or grupo_data.lista_asesores.sin_edad|length > 0  %}
				<div class="tab-pane fade" id="listaA" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row mt-5">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Asesores mayores de 80 años</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_asesores.mayor80|length > 0 %}
											<table class="table table-hover" id="list_a_mayor80_table">
												<thead>
													<tr>
														<th>Nombre del asesor</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_asesores.mayor80 %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h5 class="text-center">No hay Asesores en este grupo que sean mayores de 80 años</h5>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Asesores menores de 80 años</h2> </div>
									<div class="card-body">
										<table class="table table-hover" id="list_a_menor80_table">
											<thead>
												<tr>
													<th>Nombre del asesor</th>
												</tr>
											</thead>
											<tbody>
												{% for nombre in grupo_data.lista_asesores.menor80 %}
													<tr>
														<td>{{nombre}}</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div> 
								</div> 
							</div> 
						</div> 
						{% if grupo_data.lista_asesores.sin_edad|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 class="text-center">Asesores sin fecha de nacimiento grupo {{grupo_data.nombre_grupo}}</h2> </div>
										<div class="card-body">
											<table id="list_a_sinedad_table" class="table table-hover" >
												<thead>
													<tr>
														<th>Nombre y  Apellidos del Asesor</th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_asesores.sin_edad %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>  <!-- end tab listaA -->
			{% endif %}
			{% if grupo_data.lista_otros.mayor80|length > 0  or grupo_data.lista_otros.menor80|length > 0 or grupo_data.lista_otros.sin_edad|length > 0  %}
				<div class="tab-pane fade" id="listaO" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row mt-3">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Otros mayores de 80 años</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_otros.mayor80|length > 0 %}
											<table class="table table-hover" id="list_o_mayor80_table">
												<thead>
													<tr>
														<th>Nombre </th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_otros.mayor80 %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h5 class="text-center">No hay personas en este grupo que sean mayores de 80 años</h5>
										{% endif %}

									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 class="text-center">Otros menores de 80 años</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_otros.menor80|length > 0 %}
											<table class="table table-hover" id="list_o_mayor80_table">
												<thead>
													<tr>
														<th>Nombre </th>
													</tr>
												</thead>
												<tbody>
													{% for nombre in grupo_data.lista_otros.menor80 %}
														<tr>
															<td>{{nombre}}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h5 class="text-center">No hay personas en este grupo que sean menores de 80 años</h5>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% if grupo_data.lista_otros.sin_edad|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 class="text-center">Otros sin fecha de nacimiento</h2> </div>
										<div class="card-body">
											<div class="scrolling-wrapper">
												<div class="table-wrapper">
													<table id="sinedad" class="table table-hover">
														<thead>
															<tr>
																<th>Nombre y  Apellidos </th>
															</tr>
														</thead>
														<tbody>
															{% for nombre in grupo_data.lista_otros.sin_edad %}
																<tr>
																	<td>{{nombre}}</td>
																</tr>
															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>  <!-- end tab listaO -->
			{% endif %}
		</div>
	</div>

{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#list_cargos_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
	// tabla voluntarios mayores de 80
	$(document).ready(function() {
        $('#list_v_mayor80_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
	// tabla voluntarios menores de 80
	$(document).ready(function() {
        $('#list_v_menor80_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
	// tabla colaboradores mayores de 80
	$(document).ready(function() {
        $('#list_c_mayor80_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
	// tabla colaboradores menores de 80
	$(document).ready(function() {
        $('#list_c_menor80_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
	// tabla assesores mayores de 80
	$(document).ready(function() {
        $('#list_a_mayor80_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
	// tabla asesores menores de 80
	$(document).ready(function() {
        $('#list_a_menor80_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
</script>
{% endblock %}
