{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}

<div class="container-md">
	<div class="col-md-12">
	    <div class="card">
	        <div class="card-header"><h2 style="text-align:center">Listado de Presidentas de Diocesis</h2> </div>
            <div class="card-body">
					<table id="presidentas_tabla" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Diocesis</th>
								<th>Nombre</th>
                                <th>Cargo</th>
								<th>Telefono Movil</th>
								<th>email</th>
							</tr>
						</thead>
						<tbody>
							{% for tipo , deleg, diocesis, grupo, id, nombre, cargo, movil, email in presidentas %}
                                    <tr>
                                        <td>{{deleg}}</td>
                                        {% if tipo == 'iglesia' %}
                                            <td><a href="informacionPersonalID={{id}}">{{nombre}}</a></td>
                                        {% else %}
                                            <td> <a href="informacionVoluntarioID={{id}}">{{nombre}}</a></td>
                                        {% endif %}
                                        <td>{{cargo}}</td>
                                        <td>{{movil}}</td>
                                        <td>{{email}}</td>
                                    </tr>
                                {% endfor %}

						</tbody>
					</table>

					
			</div>  
			<script type="text/javascript">
                $(document).ready(function() {
                    $('#presidentas_tabla').DataTable({
                        dom: "fltirpB",
                        responsive: true,
                        buttons: [
                            'excel'
                        ]
                    });
                });
            </script>
		</div> 
	</div> 

</div> 

{% endblock %}
