{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style>
.table-wrapper {
    height: 250px;
    overflow: auto;
    display:inline-block;
    width: auto;
</style>
<div class="container-md">
	<div class="col-md-9">
	    <div class="card">
	        <div class="card-header"><h2 style="text-align:center">Listado de Bajas del Personal Externo</h2> </div>
	            <div class="card-body">
					{% if bajas_externo|length > 0 %}


						<div class="d-flex justify-content-center">
							<span><img src="{% static 'aicespana/images/Portada_aplicacion-ECA.gif' %}" alt="imagen AIC" title="AIC " height="100"></span>
		                </div>
						<br><br>
						<h5 style="text-align:center">Pincha en el enlace para descargar el fichero.</h5>
						<br>
						<table class="table table-bordered">
							<thead>
								<th>Voluntarios que se han dado de baja</th>
							</thead>
							<tbody>
								<tr>
									<td><a href="{{bajas_externo}}">Descarga Excel &nbsp;<i class="bi bi-download"></i> </a></td>

								</tr>
							</tbody>
						</table>
						</div>  <!-- end card-body -->
					{% else %}
						<h5 style="text-align:center">No hay ningún personal externo que este dado de baja</h5>
					{% endif %}
	            </div>  <!-- end card-body -->
	        </div>  <!-- end card -->
	    </div> <!-- end col-md-5 -->
</div> <!-- end container -->

{% endblock %}
