{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
{% if listado_personal %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
        	    <div class="card">
        	        <div class="card-header text-center"><h3>Listado de Voluntarios de la Delegación de {{delegacion}}</h3> </div>
                    <div class="card-body">
                        <div class="container">
                            {% if listado_personal|length > 0 %}
                                <table class="table table-hover" id="list_voluntarios_table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellidos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name, surname in listado_personal %}
                                            <tr>
                                                <td>{{name}}</td>
                                                <td>{{surname}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h5 class="text-center">No hay voluntarios en esta Delegación</h5>
                            {% endif %}
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="col-md-4" >
                <div class="card">
                    <div class="card-header text-center"><h3>Descarga fichero excel </h3> </div>
                    <div class="card-body">
                         <a href="{{excel_file}}">Descarga listado de voluntarios de la delegación  de {{delegacion}} <i class="bi bi-download"></i> </a>
                     </div>  
                </div> 
            </div>
        </div> 
    </div> 

{% else %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h2 style="text-align:center">Listado de Voluntarios por Delegación</h2> </div>
                    <div class="card-body">
                        <form class="row g-3" method="post" enctype="multipart/form-data" name="listadoDelegacion" id="listadoDelegacion" >
                            {% csrf_token %}
                            <input type="hidden" name="action" value="listadoDelegacion"/>
                            <div class="form-group required">
                                <div class="col-md-6">
                                    <label class="control-label " for="delegacion">Selecciona la Delegación</label>
                                    <select id="delegacion_id" required class="form-select" name="delegacion_id">
                                        <option value="">Selecciona la delegación</option>
                                        {% for dele_id, dele_name in delegation_data %}
                                            <option value = {{dele_id}}>{{dele_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">

                                <button type="submit" class="btn-outline-primary float-end ">Enviar datos</button>
                            </div>
                        </form>
                        

                        
                        <p>Los campos con  <span style="color:red"> * </span> son obligatorios</p>
                    </div>  
                </div> 
            </div> <!-- end col-md-12 -->
        </div> 
    </div> 

{%  endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#list_voluntarios_table').DataTable({
            responsive: true,
        });
    });
</script>
{% endblock %}
