{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}

{% if listado %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-8 offset-2">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Listado de Personas que desean recibir el Boletin</h2> </div>
	                    <div class="card-body">
							<div class="d-flex justify-content-center">
								<span><img src="{% static 'aicespana/images/Portada_aplicacion-ECA.gif' %}" alt="imagen AIC" title="AIC " height="100"></span>
			                </div>
							
							<h5 style="text-align:center">Pincha en el enlace para descargar los ficheros.</h5>
							
							<table class="table table-bordered">
								<thead>
									<th>Por Correo Postal</th>
									<th>Por Correo Eléctonico</th>
								</thead>
								<tbody>
									<tr>
										<td><a href="{{listado.mail}}">Descarga Excel &nbsp;<i class="bi bi-download"></i> </a></td>
										<td><a href="{{listado.online}}">Descarga Excel &nbsp;<i class="bi bi-download"></i> </a></td>
									</tr>
								</tbody>
							</table>
						</div>  
		            </div> 
		    </div> 
		</div> 
	</div> 
{% endif %}
{% endblock %}
