{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{%include 'aicespana/jexcel_funcionality.html' %}

<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
<style >
	.table-scroll > tbody {
  		overflow-y: auto;
}
</style>
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 300px;
    }
 </style>
<script type="text/javascript" src="{% static 'aicespana/js/aicespana.js' %}"></script>
{% if  grupo_data %}

	<div class="container-md">
		<div class="row mt-4">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Información del grupo  {{grupo_data.nombre_grupo}}</h2> </div>
					<div class="card-body">
						<table  class="table">
							<thead>
								<tr>
									<th class="display-6">Voluntarios</th>
									<th class="display-6">Colaboradores</th>
									<th class="display-6">Asesores</th>
									<th class="display-6">Otros</th>
								</tr>
							</thead>
							<tbody>
								{% for voluntario, colaboradores, asesores, otros  in grupo_data.summary %}
									<tr>
										<td class="display-4">{{voluntario}}</td>
										<td class="display-4">{{colaboradores}}</td>
										<td class="display-4">{{asesores}}</td>
										<td class="display-4">{{otros}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end md-10-->
		</div> <!-- end row-->
	</div> <!-- end container  -->


	<div class="container sm-12">
		<br><br><br>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		    <li class="nav-item" role="presentation">
		    	<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Información General</button>
		  	</li>
		  	<li class="nav-item" role="presentation">
		    	<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#cargos" type="button" role="tab" aria-controls="cargos" aria-selected="false">Cargos del grupo</button>
		  	</li>
		  	{% if grupo_data.lista_voluntarios.mayor80|length > 0  or grupo_data.lista_voluntarios.menor80|length > 0  or grupo_data.lista_voluntarios.sin_edad|length > 0 %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaV" type="button" role="tab" aria-controls="listaVoluntarios" aria-selected="false">Listado de Voluntarios</button>
		  		</li>
		    {% endif %}
			{% if grupo_data.lista_colaboradores.mayor80|length > 0  or grupo_data.lista_colaboradores.menor80|length > 0  or grupo_data.lista_colaboradores.sin_edad|length > 0 %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaC" type="button" role="tab" aria-controls="listaColaboradores" aria-selected="false">Listado de Colaboradores</button>
		  		</li>
		  	{% endif %}
		  	{% if grupo_data.lista_asesores.mayor80|length > 0  or grupo_data.lista_asesores.menor80|length > 0  or grupo_data.lista_asesores.sin_edad|length > 0 %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaA" type="button" role="tab" aria-controls="listaAsesores" aria-selected="false">Listado de Asesores</button>
		  		</li>
		  	{% endif %}
			{% if grupo_data.lista_otros.mayor80|length > 0  or grupo_data.lista_otros.menor80|length > 0 or grupo_data.lista_otros.sin_edad|length > 0  %}
		  		<li class="nav-item" role="presentation">
		    		<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listaO" type="button" role="tab" aria-controls="listaOtros" aria-selected="false">Listado de Otros</button>
		  		</li>
		  	{% endif %}

		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
				<div class="container-md">
					<div class="row mt-5">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header"><h2 style="text-align:center">Información general del grupo {{grupo_data.nombre_grupo}}</h2> </div>
								<div class="card-body">
									<div class="table-wrapper">
										<table id="infoData" class="table table-hover mb-0">
											<tbody>
												<tr>
													<td>Calle</td>
													<td>{{grupo_data.informacion.4}}</td>
												</tr>
												<tr>
													<td>Población</td>
													<td>{{grupo_data.informacion.5}}</td>
												</tr>
												<tr>
													<td>Provincia</td>
													<td>{{grupo_data.informacion.6}}</td>
												</tr>
												<tr>
													<td>Código Postal</td>
													<td>{{grupo_data.informacion.7}}</td>
												</tr>
												<tr>
													<td>Fecha de Alta</td>
													<td>{{grupo_data.informacion.9}}</td>
												</tr>
												<tr>
													<td>Fecha de Baja</td>
													<td>{{grupo_data.informacion.10}}</td>
												</tr>
												<tr>
													<td>Estado del Grupo</td>
													<td>{{grupo_data.informacion.11}}</td>
												</tr>
											</tbody>
										</table>
									</div> <!--  end of table wrapper  -->
								</div> <!-- end card body-->
							</div> <!-- end card  -->
						</div> <!-- end col-md-10 -->
						<div class="col-md-8">
							<div class="card">
								<div class="card-header"><h2 style="text-align:center">Observaciones</h2> </div>
								<div class="card-body">
									<p>{{grupo_data.informacion.8}}</p>
								</div> <!-- end card body-->
							</div> <!-- end card  -->
						</div> <!-- end col-md-10 -->
					</div> <!-- end row-->
				</div> <!-- end container -->
			</div>  <!-- end tab info -->

			<div class="tab-pane fade" id="cargos" role="tabpanel" aria-labelledby="cargos-tab">
				<div class="container-md">
					<div class="row mt-5">
						<div class="col-md-10">
							<div class="card">
								<div class="card-header"><h2 style="text-align:center">Cargos en el grupo de {{grupo_data.nombre_grupo}}</h2> </div>
								<div class="card-body">

									<div class="scrolling-wrapper">
                            			<div id="spreadsheet1"></div>
                        			</div>
									<br>
									<input type="button" value="Descarga los cargos del grupo" onclick="table1.download()"/>
									<script>
				                         var data1 = [{% for cargo, nombre in grupo_data.cargos.items %} ['{{cargo}}', '{{nombre}}'], {% endfor %}
				                         ];

				                        var table1 = jexcel(document.getElementById('spreadsheet1'), {
				                            data:data1,
				                            columns: [
				                                { type: 'text', title:'Cargo en el grupo', width:300 },
				                                { type: 'text', title:'Nombre y apellidos', width:350 , readOnly:true},

				                            ],
				                            allowInsertColumn:false,
				                            allowDeleteColumn:false,
				                            allowRenameColumn:false,
				                            csvFileName:'cargos_grupos',
				                            minDimensions:[2,5],
				                            tableOverflow: false,
				                            tableWidth: "700px",
											hideindex:true,
				                         });
				                    </script>
								</div> <!-- end card body-->
							</div> <!-- end card  -->
						</div> <!-- end col-md-10 -->
					</div> <!-- end row-->
				</div> <!-- end container -->
			</div>  <!-- end tab cargos -->
			{% if grupo_data.lista_voluntarios.mayor80|length > 0  or grupo_data.lista_voluntarios.menor80|length > 0 or grupo_data.lista_voluntarios.sin_edad|length > 0 %}
				<div class="tab-pane fade" id="listaV" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row mt-5">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Voluntarios mayores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_voluntarios.mayor80|length > 0 %}
											<div class="scrolling-wrapper">
		                            			<div id="spreadsheet2"></div>
		                        			</div>
											<br>
											<input type="button" value="Descarga listado mayores de 80" onclick="table2.download()"/>
											<script>
						                         var data2 = [{% for  nombre in grupo_data.lista_voluntarios.mayor80 %} ['{{nombre}}'], {% endfor %}
						                         ];

						                        var table2 = jexcel(document.getElementById('spreadsheet2'), {
						                            data:data2,
						                            columns: [
						                                { type: 'text', title:'Nombre del Voluntario', width:350 , readOnly:true},

						                            ],
						                            allowInsertColumn:false,
						                            allowDeleteColumn:false,
						                            allowRenameColumn:false,
						                            csvFileName:'listado_mayores_80',
						                            minDimensions:[1,5],
						                            tableOverflow: false,
						                            tableWidth: "700px",
													hideIndex:true,
													search:true,
                                                    pagination:20,
						                         });
						                    </script>
										{% else %}
											<h5 style="text-align:center">No hay voluntarios en este grupo que sean mayores de 80 años</h5>
										{% endif %}
										<br>


									</div> <!-- end card body-->
								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Voluntarios menores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_voluntarios.menor80|length > 0 %}
											<div class="scrolling-wrapper">
		                            			<div id="spreadsheet3"></div>
		                        			</div>
											<br>
											<input type="button" value="Descarga listado menores de 80" onclick="table3.download()"/>
											<script>
						                         var data3 = [{% for  nombre in grupo_data.lista_voluntarios.menor80 %} ['{{nombre}}'], {% endfor %}
						                         ];

						                        var table3 = jexcel(document.getElementById('spreadsheet3'), {
						                            data:data3,
						                            columns: [
						                                { type: 'text', title:'Nombre del Voluntario', width:300 , readOnly:true},
						                            ],
						                            allowInsertColumn:false,
						                            allowDeleteColumn:false,
						                            allowRenameColumn:false,
						                            csvFileName:'listado_voluntarios_menores_80',
						                            tableOverflow: false,
						                            tableWidth: "700px",
													search:true,
													pagination:20,

						                         });
						                    </script>
											{% else %}
												<h5 style="text-align:center">No hay voluntarios en este grupo que sean menores de 80 años</h5>
										{% endif %}
									</div> <!-- end card body-->
								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
						</div> <!-- end row-->
						{% if grupo_data.lista_voluntarios.sin_edad|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 style="text-align:center">Voluntarios sin fecha de nacimiento grupo {{grupo_data.nombre_grupo}}</h2> </div>
										<div class="card-body">

											<div class="scrolling-wrapper">
												<div class="table-wrapper">
													<table id="sinedad" class="table table-hover mb-0">
														<thead>
															<tr>
																<th>Nombre y  Apellidos del Voluntario</th>
															</tr>
														</thead>
														<tbody>
															{% for nombre in grupo_data.lista_voluntarios.sin_edad %}
																<tr>
																	<td>{{nombre}}</td>
																</tr>
															{% endfor %}
														</tbody>
													</table>
												</div> <!--  end of table wrapper  -->
											</div> <!-- end scrolling-->
										</div> <!-- end card body-->
									</div> <!-- end card  -->
								</div> <!-- end col-md-6 -->

							</div> <!-- end row-->
						{% endif %}
					</div> <!-- end container -->
				</div>  <!-- end tab listaV -->
			{% endif %}
			{% if grupo_data.lista_colaboradores.mayor80|length > 0  or grupo_data.lista_colaboradores.menor80|length > 0 or grupo_data.lista_colaboradores.sin_edad|length > 0 %}
				<div class="tab-pane fade" id="listaC" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row mt-5">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Colaboradores mayores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_colaboradores.mayor80|length > 0 %}
											<div class="scrolling-wrapper">
		                            			<div id="spreadsheet12"></div>
		                        			</div>
											<br>
											<input type="button" value="Descarga listado mayores 80" onclick="table12.download()"/>
											<script>
						                         var data12 = [{% for  nombre in grupo_data.lista_colaboradores.mayor80 %} ['{{nombre}}'], {% endfor %}
						                         ];

						                        var table12 = jexcel(document.getElementById('spreadsheet12'), {
						                            data:data12,
						                            columns: [
						                                { type: 'text', title:'Nombre del Colaborador', width:350 , readOnly:true},

						                            ],
						                            allowInsertColumn:false,
						                            allowDeleteColumn:false,
						                            allowRenameColumn:false,
						                            csvFileName:'colaboradores_mayores_80',
						                            minDimensions:[2,5],
						                            tableOverflow: false,
						                            tableWidth: "700px",
													hideIndex:true,
													search:true,
                                                    pagination:20,
						                         });
						                    </script>
										{% else %}
											<h5 style="text-align:center">No hay colaboradores en este grupo que sean mayores de 80 años</h5>
										{% endif %}
										<br>
									</div> <!-- end card body-->
								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Colaboradores menores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_colaboradores.menor80|length > 0 %}
											<div class="scrolling-wrapper">
		                            			<div id="spreadsheet13"></div>
		                        			</div>
											<br>
											<input type="button" value="Descarga listado menores 80" onclick="table13.download()"/>
											<script>
						                         var data13 = [{% for  nombre in grupo_data.lista_colaboradores.menor80 %} ['{{nombre}}'], {% endfor %}
						                         ];

						                        var table13 = jexcel(document.getElementById('spreadsheet13'), {
						                            data:data13,
						                            columns: [
						                                { type: 'text', title:'Nombre del Colaborador', width:300 , readOnly:true},
						                            ],
						                            allowInsertColumn:false,
						                            allowDeleteColumn:false,
						                            allowRenameColumn:false,
						                            csvFileName:'listado_colaboradores_menores_80',
						                            tableOverflow: false,
						                            tableWidth: "700px",
													search:true,
													pagination:20,

						                         });
						                    </script>
											{% else %}
												<h5 style="text-align:center">No hay colaboradores en este grupo que sean menores de 80 años</h5>
										{% endif %}
									</div> <!-- end card body-->
								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
						</div> <!-- end row-->
						{% if grupo_data.lista_colaboradores.sin_edad|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 style="text-align:center">Colaboradores sin fecha de nacimiento grupo {{grupo_data.nombre_grupo}}</h2> </div>
										<div class="card-body">
											<div class="scrolling-wrapper">
												<div class="table-wrapper">
													<table id="sinedad" class="table table-hover mb-0">
														<thead>
															<tr>
																<th>Nombre y  Apellidos del Colaborador</th>
															</tr>
														</thead>
														<tbody>
															{% for nombre in grupo_data.lista_colaboradores.sin_edad %}
																<tr>
																	<td>{{nombre}}</td>
																</tr>
															{% endfor %}
														</tbody>
													</table>
												</div> <!--  end of table wrapper  -->
											</div> <!-- end scrolling-->
										</div> <!-- end card body-->
									</div> <!-- end card  -->
								</div> <!-- end col-md-6 -->
							</div> <!-- end row-->
						{% endif %}
					</div> <!-- end container -->
				</div>  <!-- end tab listaC -->
			{% endif %}
			{% if grupo_data.lista_asesores.mayor80|length > 0  or grupo_data.lista_asesores.menor80|length > 0 or grupo_data.lista_asesores.sin_edad|length > 0  %}
				<div class="tab-pane fade" id="listaA" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row mt-5">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Asesores mayores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_asesores.mayor80|length > 0 %}
											<div class="scrolling-wrapper">
		                            			<div id="spreadsheet22"></div>
		                        			</div>
											<br>
											<input type="button" value="Descarga listado mayores 80" onclick="table22.download()"/>
											<script>
						                         var data22 = [{% for  nombre in grupo_data.lista_asesores.mayor80 %} ['{{nombre}}'], {% endfor %}
						                         ];

						                        var table22 = jexcel(document.getElementById('spreadsheet22'), {
						                            data:data22,
						                            columns: [
						                                { type: 'text', title:'Nombre del Asesor', width:350 , readOnly:true},

						                            ],
						                            allowInsertColumn:false,
						                            allowDeleteColumn:false,
						                            allowRenameColumn:false,
						                            csvFileName:'listado_asesores',
						                            tableOverflow: false,
						                            tableWidth: "700px",
													hideIndex:true,
													search:true,
                                                    pagination:20,
						                         });
						                    </script>
										{% else %}
											<h5 style="text-align:center">No hay Asesores en este grupo que sean mayores de 80 años</h5>
										{% endif %}
										<br>
									</div> <!-- end card body-->


								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Asesores menores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">

										<div class="scrolling-wrapper">
	                            			<div id="spreadsheet23"></div>
	                        			</div>
										<br>
										<input type="button" value="Descarga listado menores 80" onclick="table23.download()"/>
										<script>
					                         var data23 = [{% for  nombre in grupo_data.lista_asesores.menor80 %} ['{{nombre}}'], {% endfor %}
					                         ];

					                        var table23 = jexcel(document.getElementById('spreadsheet23'), {
					                            data:data23,
					                            columns: [
					                                { type: 'text', title:'Nombre del Asesor', width:300 , readOnly:true},
					                            ],
					                            allowInsertColumn:false,
					                            allowDeleteColumn:false,
					                            allowRenameColumn:false,
					                            csvFileName:'listado_asesores',
					                            tableOverflow: false,
					                            tableWidth: "700px",
												search:true,
												pagination:20,
					                         });
					                    </script>
									</div> <!-- end card body-->
								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
						</div> <!-- end row-->
						{% if grupo_data.lista_asesores.mayor80|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 style="text-align:center">Asesores sin fecha de nacimiento grupo {{grupo_data.nombre_grupo}}</h2> </div>
										<div class="card-body">
											<div class="scrolling-wrapper">
												<div class="table-wrapper">
													<table id="sinedad" class="table table-hover mb-0">
														<thead>
															<tr>
																<th>Nombre y  Apellidos del Asesor</th>
															</tr>
														</thead>
														<tbody>
															{% for nombre in grupo_data.lista_asesores.sin_edad %}
																<tr>
																	<td>{{nombre}}</td>
																</tr>
															{% endfor %}
														</tbody>
													</table>
												</div> <!--  end of table wrapper  -->
											</div> <!-- end scrolling-->
										</div> <!-- end card body-->
									</div> <!-- end card  -->
								</div> <!-- end col-md-6 -->
							</div> <!-- end row-->
						{% endif %}
					</div> <!-- end container -->
				</div>  <!-- end tab listaV -->
			{% endif %}
			{% if grupo_data.lista_otros.mayor80|length > 0  or grupo_data.lista_otros.menor80|length > 0 or grupo_data.lista_otros.sin_edad|length > 0  %}
				<div class="tab-pane fade" id="listaO" role="tabpanel" aria-labelledby="lista-tab">
					<div class="container-md">
						<div class="row mt-5">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Otros mayores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_otros.mayor80|length > 0 %}
											<div class="scrolling-wrapper">
		                            			<div id="spreadsheet32"></div>
		                        			</div>
											<br>
											<input type="button" value="Descarga listado mayores 80" onclick="table32.download()"/>
											<script>
						                         var data32 = [{% for  nombre in grupo_data.lista_otros.mayor80 %} ['{{nombre}}'], {% endfor %}
						                         ];

						                        var table32 = jexcel(document.getElementById('spreadsheet32'), {
						                            data:data32,
						                            columns: [
						                                { type: 'text', title:'Nombre', width:350 , readOnly:true},

						                            ],
						                            allowInsertColumn:false,
						                            allowDeleteColumn:false,
						                            allowRenameColumn:false,
						                            csvFileName:'listado_otros',
						                            tableOverflow: false,
						                            tableWidth: "700px",
													hideIndex:true,
													search:true,
                                                    pagination:20,
						                         });
						                    </script>
										{% else %}
											<h5 style="text-align:center">No hay personas en este grupo que sean mayores de 80 años</h5>
										{% endif %}
										<br>
									</div> <!-- end card body-->
								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
							<div class="col-md-6">
								<div class="card">
									<div class="card-header"><h2 style="text-align:center">Otros menores de 80 años del grupo {{grupo_data.nombre_grupo}}</h2> </div>
									<div class="card-body">
										{% if grupo_data.lista_otros.menor80|length > 0 %}
											<div class="scrolling-wrapper">
		                            			<div id="spreadsheet33"></div>
		                        			</div>
											<br>
											<input type="button" value="Descarga listado menores 80" onclick="table33.download()"/>
											<script>
						                         var data33 = [{% for  nombre in grupo_data.lista_otros.menor80 %} ['{{nombre}}'], {% endfor %}
						                         ];

						                        var table33 = jexcel(document.getElementById('spreadsheet33'), {
						                            data:data33,
						                            columns: [
						                                { type: 'text', title:'Nombre', width:300 , readOnly:true},
						                            ],
						                            allowInsertColumn:false,
						                            allowDeleteColumn:false,
						                            allowRenameColumn:false,
						                            csvFileName:'listado_otros',
						                            tableOverflow: false,
						                            tableWidth: "700px",
													search:true,
													pagination:20,

						                         });
						                    </script>
										{% else %}
											<h5 style="text-align:center">No hay personas en este grupo que sean menores de 80 años</h5>
										{% endif %}
									</div> <!-- end card body-->
								</div> <!-- end card  -->
							</div> <!-- end col-md-10 -->
						</div> <!-- end row-->
						{% if grupo_data.lista_otros.sin_edad|length > 0 %}
							<div class="row mt-5">
								<div class="col-md-6 offset-3">
									<div class="card">
										<div class="card-header"><h2 style="text-align:center">Otros sin fecha de nacimiento grupo {{grupo_data.nombre_grupo}}</h2> </div>
										<div class="card-body">
											<div class="scrolling-wrapper">
												<div class="table-wrapper">
													<table id="sinedad" class="table table-hover mb-0">
														<thead>
															<tr>
																<th>Nombre y  Apellidos </th>
															</tr>
														</thead>
														<tbody>
															{% for nombre in grupo_data.lista_otros.sin_edad %}
																<tr>
																	<td>{{nombre}}</td>
																</tr>
															{% endfor %}
														</tbody>
													</table>
												</div> <!--  end of table wrapper  -->
											</div> <!-- end scrolling-->
										</div> <!-- end card body-->
									</div> <!-- end card  -->
								</div> <!-- end col-md-6 -->
							</div> <!-- end row-->
						{% endif %}
					</div> <!-- end container -->
				</div>  <!-- end tab listaO -->
			{% endif %}
		</div>  <!-- end tab-content -->
	</div>  <!-- end container -->

{% endif %}
{% endblock %}
