{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
<div class="container-md">
	<div class="col-md">
	    <div class="card">
	        <div class="card-header text-center"><h2>Listado de Personal de Iglesia</h2> </div>
	            <div class="card-body">
					<div class="container">
						<table class="table table-hover" id="list_iglesia_table">
							<thead>
								<tr>
									<th>Delegación</th>
									<th>Diocesis</th>
									<th>Nombre</th>
									<th>Cargo</th>
									<th>Grupo</th>

								</tr>
							</thead>
							<tbody>
								{% for delegacion, diocesis_data in listado_personal.items %}
									{% for diocesis, nombres in diocesis_data.items %}
										{% for id, nombre, cargo, grupo in nombres %}
										<tr>
											<td>{{delegacion}}</td>
											<td>{{diocesis}}</td>
											<td>{{nombre}}</td>
											<td>{{cargo}}</td>
											<td>{{grupo}}</td>
										</tr>
										{% endfor %}
									{% endfor %}
								{% endfor %}
	                        </tbody>
	                    </table>
					</div>
	            </div>
	        </div>
	    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#list_iglesia_table').DataTable({
            responsive: true,
			dom: "Bfltirp",
			buttons: ['excel']
        });
    });
</script>
{% endblock %}
