{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}

{% if listado %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-8 offset-2">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Listado de Personas que desean recibir el Boletin</h2> </div>
	                    <div class="card-body">
							<div class="d-flex justify-content-center">
								<span><img src="{% static 'aicespana/images/Portada_aplicacion-ECA.gif' %}" alt="imagen AIC" title="AIC " height="100"></span>
			                </div>
							<br><br>
							<h5 style="text-align:center">Pincha en el enlace para descargar el fichero.</h5>
							<br>
							<div class="col-md-7 offset-3">
								<a href="{{listado}}">Excel con listado de personas para recibir boletin &nbsp;<i class="bi bi-download"></i> </a>
							</div> <!-- end col-md-10 -->
						</div>  <!-- end card-body -->
		            </div>  <!-- end card -->
		    </div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}
{% endblock %}
