{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}

{% if delegaciones %}
	<div class="container-md">
		<div class="row mt-3 align-items-center" >
			<div class="col">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Listado de delegaciones</h2> </div>
	                    <div class="card-body">
                            <div class="row mt-3 justify-content-center">
                                <div class="col">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="delegacion-tab" data-bs-toggle="tab" data-bs-target="#delegacion" type="button" role="tab" aria-controls="delegacion" aria-selected="true">Delegaciones</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Estadisticas</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="delegacion" role="tabpanel" aria-labelledby="delegacion-tab">
                                            <div class="container-md">
                                                <div class="row mt-1 justify-content-center">
                                                    <div class="col-md-7">
                                                        <div class="card">
                                                            <div class="card-header text-center">
                                                                <h5>Seleciona una Delegación para ver las Diocesis que dependen de ella</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <table class="table table-hover">
                                                                    <tbody>
                                                                        {% for id, delegacion in delegaciones %}
                                                                            <tr>
                                                                                <td><h5>{{delegacion}} &nbsp;&nbsp<a href="/listadoDelegacion={{id}}"><i class="bi bi-journal-plus"></i></a></h5></td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>  
                                            </div> 
                                        </div>
                                        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                                            <div class="container-md">
                                                <div class="row mt-1">
                                                    <div class="col justify-content-center">
                                                        <div class="card">
                                                            <div class="card-header text-center">
                                                                <h5>Hay {{graphics.voluntarios.num_p_ext}} voluntarios distribuidos en {{graphics.grupos.num_grupos}} grupos</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row justify-content-center">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <h5>Voluntarios por delegación</h5>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            {{ graphics.voluntarios.graph | safe }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <h5>Grupos por delegación</h5>
                                                                        </div>
                                                                        {{ graphics.grupos.graph | safe }}
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                        </div> 
                                                    </div> 
                                                </div>
                                            </div> 
                                        </div> 
                                    </div>  
                                </div>
                            </div> 
                        </div>  
                    </div> 
                </div>
		    </div> 
		</div> 
	</div> 
{% endif %}
{% endblock %}
