{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{%include 'aicespana/jexcel_funcionality.html' %}
{% if listado_personal %}
    <div class="container">
        <div class="row">
    	    <div class="card">
    	        <div class="card-header"><h2 style="text-align:center">Listado de Voluntarios de la Delegación de {{delegacion}}</h2> </div>
                <div class="card-body">


                    {% if listado_personal|length > 0 %}
                        <div id="spreadsheet1"></div>
                        <br>

                        <script>
                            var data1 = [{% for  row in listado_personal %} [{% for column  in row %}'{{column}}',{% endfor %}], {% endfor %}
                            ];

                            var table1 = jexcel(document.getElementById('spreadsheet1'), {
                                data:data1,
                                columns: [
                                    { type: 'text', title:'Nombre', width:200 , readOnly:true},
                                    { type: 'text', title:'Apellidos', width:300 , readOnly:true},

                                ],
                                allowInsertColumn:false,
                                allowDeleteColumn:false,
                                allowRenameColumn:false,
                                csvFileName:'voluntario_delegacion',
                                tableOverflow: false,
                                tableWidth: "500px",
                                hideIndex:true,
                                pagination:20,
                            });
                        </script>
                    {% else %}
                        <h5 style="text-align:center">No hay voluntarios en esta Delegación</h5>
                    {% endif %}
                </div>  <!-- end card-body -->
            </div>  <!-- end card -->
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2" >
                <div class="card">
                    <div class="card-header"><h4 style="text-align:center">Descarga el excel del listado de Voluntarios </h4> </div>
                    <div class="card-body">
                         <a href="{{excel_file}}">Excel con listado de Voluntarios de la Delegación {{delegacion}} <i class="bi bi-download"></i> </a>
                     </div>  <!-- end card-body -->
                </div>  <!-- end card -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->

{% else %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h2 style="text-align:center">Listado de Voluntarios por Delegación</h2> </div>
                    <div class="card-body">
                        <form class="row g-3" method="post" enctype="multipart/form-data" name="listadoDelegacion" id="listadoDelegacion" >
                            {% csrf_token %}
                            <input type="hidden" name="action" value="listadoDelegacion"/>
                            <div class="form-group required">
                                <div class="col-md-6">
                                    <label class="control-label " for="delegacion">Selecciona la Delegación</label>
                                    <select id="delegacion_id" required class="form-select" name="delegacion_id">
                                        <option value="">Selecciona la delegación</option>
                                        {% for dele_id, dele_name in delegation_data %}
                                            <option value = {{dele_id}}>{{dele_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">

                                <button type="submit" class="btn-outline-primary float-end ">Enviar datos</button>
                            </div>
                        </form>
                        <br><br>

                        <br><br>
                        <p>Los campos con  <span style="color:red"> * </span> son obligatorios</p>
                    </div>  <!-- end card-body -->
                </div>  <!-- end card -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row-->
    </div> <!-- end container -->

{%  endif %}
{% endblock %}
