{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
	.form-group.required .control-label:after {
	  content:"  *";
	  color:red;
	}
</style>
<style>
.table-wrapper {
    height: 450px;
    overflow: auto;
    display:inline-block;
    width: 850px;
</style>
<div class="container-md">
	<div class="col-md-11">
	    <div class="card">
	        <div class="card-header"><h2 style="text-align:center">Listado de Presidentas de Grupo</h2> </div>
            <div class="card-body">

                <table class="table table-hover table-wrapper">
	                <thead>
                        <tr>
							<th>Nombre</th>
							<th>Número de movil</th>
                            <th>Grupo</th>
                            <th>Diocesis</th>
                             <th>Delegación</th>
                        </tr>
                    </thead>
                	<tbody>
                        {% for nombre, movil, grupo, diocesis, delegacion in presidentes %}
                            <tr>
                                <td>{{nombre}}</td>
								<td>{{movil}}</td>
								<td>{{grupo}}</td>
                                <td>{{diocesis}}</td>
                                <td>{{delegacion}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>  <!-- end card-body -->
	    </div>  <!-- end card -->
	</div> <!-- end col-md-5 -->
</div> <!-- end container -->

{% endblock %}
