{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
{% if activity_data %}
	<div class="container-md">
		<div class="row mt-3 justify-content-center">
			<div class="col">
				<div class="card">
					<div class="card-header text-center"><h2>Listado de actividades</h2=> </div>
                        <div class="card-body">
                            <div class="row mt-3 justify-content-center">
                                <div class="col">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="actividades-tab" data-bs-toggle="tab" data-bs-target="#actividades" type="button" role="tab" aria-controls="actividades" aria-selected="true">Actividades</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Estadisticas</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="listado-tab" data-bs-toggle="tab" data-bs-target="#listado" type="button" role="tab" aria-controls="listado" aria-selected="false">Listado voluntarios</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="actividades" role="tabpanel" aria-labelledby="actividades-tab">
                                            <div class="container-md">
                                                <div class="text-center">
                                                    <h5>Actividades con personal asignado</h5>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col">
                                                        <table id="actividad_tabla" class="table table-hover table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nombre de la actividad</th>
                                                                    <th>Grupo</th>
                                                                    <th>Diocesis</th>
                                                                    <th>Delegación</th>
                                                                    <th>Memoria</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for grupo, dioc, deleg, act,  act_id, alta, baja, activo, memoria, foto in activity_data.act_list %}
                                                                    <tr>
                                                                        <td>{{act}}</td>
                                                                        <td>{{grupo}}</td>
                                                                        <td>{{dioc}}</td>
                                                                        <td>{{deleg}}</td>
                                                                        <td>
                                                                            {% if  memoria != "" %}
                                                                                <a href="{{memoria}}">descargar memoria</a>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div> 
                                                </div>
                                            </div>  
                                        </div> 
                                        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                                            <div class="container-md">
                                                <div class="row mt-1  justify-content-center">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row justify-content-center">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <h5>Voluntarios asignados a activiadades</h5>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            {{ activity_data.graphics.num_per_ext | safe }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                        </div> 
                                                    </div>
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row justify-content-center">
                                                                    <div class="col">
                                                                        <h5>Relación de voluntarios</h5>
                                                                        {{ activity_data.graphics.act_per_ext | safe }}
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row justify-content-center">
                                                                    <div class="col">
                                                                        <h5>Relación de voluntarios</h5>
                                                                        {{ activity_data.graphics.num_voluntarios | safe }}
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="tab-pane fade" id="listado" role="tabpanel" aria-labelledby="listado-tab">
                                            <div class="container-md">
                                                <div class="row mt-1">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <table id="voluntario_tabla" class="table table-striped table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Nombre voluntario</th>
                                                                                    <th>Nombre Actividad</th>
                                                                                    <th>Grupo</th>
                                                                                    <th>Diocesis</th>
                                                                                    <th>Delegacion</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% for nombre, appellido, proj, grupo, dioc, deleg in activity_data.v_list %}
                                                                                    <tr>
                                                                                        <td>{{nombre}} {{appellido}}</td>
                                                                                        <td>{{proj}}</td>
                                                                                        <td>{{grupo}}</td>
                                                                                        <td>{{dioc}}</td>
                                                                                        <td>{{deleg}}</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </div> 
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
						</div>  
		            </div> 
                </div> 
		    </div> 
		</div> 
	</div> 
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#actividad_tabla').DataTable({
            dom: "fltirpB",
            responsive: true,
            buttons: [
                'excel'
            ]
        });
    });
    $(document).ready(function() {
        $('#voluntario_tabla').DataTable({
            dom: "fltirpB",
            responsive: true,
            buttons: [
                'excel'
            ]
        });
    });
</script>
{% endblock %}

&nbsp;&nbsp;<a href="/listadoActividad={{id}}"><i class="bi bi-journal-plus"></i></a>
