{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% if ERROR %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-6 offset-3">
				<div class="card text-center bg-danger">
					<div class="card-header">
						<h2 style="text-align:center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{{ERROR}}
						</p>
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los cambios de la Actividad {{confirmation_data}} se han guardado correctamente</p>
					</div> 
				</div> 
		    </div> 
		</div> 
	</div> 

{% else %}
	
	<div class="container-md">
	    <div class="row g-3">
	        <div class="col">
			  {% if actividad_data.activo == "true" %}
	            <div class="card">
			  {% else %}
				<div class="card border-danger text-danger">
			  {% endif %}
					<div class="card-header text-center"><h2>Formulario para cambiar los datos de la Actividad {{actividad_data.actividad_name}}</h2style=> </div>
	                <div class="card-body">
	                    <form class="row" method="post" enctype="multipart/form-data" name="modificarActividad" id="modificarActividad" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="modificarActividad"/>
							<input type="hidden" name="actividadID" value="{{actividad_data.actividadID}}"/>
							<div class="row">
                                <div class="col-md-8">
                                    <div class="form-floating my-3">
                                        <input type="text" required class="form-control" id="actividad_name" name='actividad_name' value="{{actividad_data.actividad_name}}">
		                                <label for="actividad_name">Modifica el nombre de la actividad</label>
		                            </div>
                                    <div class="row g-2 mb-3">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="date" class="form-control" id="alta" name="alta" value="{{actividad_data.alta}}" placeholder="Fecha alta del proyecto" >
                                                <label for="alta">Fecha de alta</label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="date" class="form-control" id="baja" name="baja" value="{{actividad_data.baja}}" placeholder="Fecha de baja del proyecto" >
                                                <label for="baja">Fecha de baja</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-2 mb-3">
                                        <div class="col">
                                            <div class="form-floating mt-4 mb-3">
                                                <select id="activo"  class="form-select" name='activo'>
                                                    {% if actividad_data.activo == 'true' %}
                                                        <option selected value="true">Activa</option>
                                                    {% else %}
                                                        <option selected value="false">Cerrada</option>
                                                    {% endif %}
                                                    <option value = "true">Activa</option>
                                                    <option value = "false">Cerrada</option>
                                                </select>
                                                <label for="activo">Estado de la actividad</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            {% if actividad_data.memoria != '' %}  
                                                <div class="mb-3">                         
                                                    <label for="memoria" class="form-label">Actualiza la memoria de la actividad</label>
                                                    <input type="file"  class="form-control" id="memoria" name="uploadMemoria" accept=".doc, .docx, .pdf, .txt">
                                                </div>
                                            {% else %}
                                                <div class="mb-3">
                                                    <label for="memoria" class="form-label">Sube la memoria de la actividad</label>
                                                    <input type="file" class="form-control"  id="memoria" name="uploadMemoria" accept=".doc, .docx, .pdf, .txt">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {% if actividad_data.fotografia != '' %}
                                        <img src="{{actividad_data.fotografia}}" style="width:375px;" alt="Fotografia de la actividad">
                                        <div class="mb-3">
                                            <label for="foto" class="form-label">Actualiza la fotografia de la actividad</label>
                                            <input type="file" class="form-control"  id="foto" name="uploadFotografia" accept=".jpg, .gif, .pdf, .png">
                                        </div>
                                    {% else %}
                                        <div class="mb-3">
                                            <label for="foto" class="form-label">Sube la fotografía de la actividad</label>
                                            <input type="file" class="form-control"  id="foto" name="uploadFotografia" accept=".jpg, .gif, .pdf, .png">
                                        </div>
                                    {% endif %}

                                    {% if actividad_data.memoria != '' %}
                                        <div class="row mt-3">
                                            <div class="col">
                                                <a href="{{actividad_data.memoria}}">Descarga la memoria de la actividad<i class="bi bi-download"></i> </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                                
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col">
                                    <div class="input-group">
                                        <span class="input-group-text">Observaciones</span>
                                        <textarea class="form-control" name="observaciones" rows="8" cols="80" maxlength="500">{{actividad_data.observaciones}}</textarea>
                                    </div>
                                    <input class="btn float-end btn-outline-primary my-3" type="submit" value="Guardar datos">
                                </div>
                        </form>
                        <p>Los campos en <span style="color:red"> rojo </span> son obligatorios</p>
                    </div> 
                </div>  
            </div> 
        </div> 
    </div>
{% endif %}
{% endblock %}
