{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}

{% if ERROR %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-6 offset-3">
				<div class="card text-center bg-danger">
					<div class="card-header">
						<h2 classe="text-center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{{ERROR}}
						</p>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los cambios de la delegación {{confirmation_data}} se han guardado correctamente</p>

					</div> <!-- end card body-->
				</div> <!-- end card  -->
		    </div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->

{% else %}
	<br><br>
	<div class="container-md">
	    <div class="row g-2">
	        <div class="col-md-8">
	            <div class="card">
					<div class="card-header"><h2 class="text-center">Formulario para cambiar el nombre de la Delegación {{delegacion.name}}</h2> </div>
	                <div class="card-body">
	                    <form method="post" enctype="multipart/form-data" name="modificarDelegacion" id="modificarDelegacion" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="modificarDelegacion"/>
							<input type="hidden" name="delegacion_id" value="{{delegacion.id}}"/>
							<div class="form-group">
		                        <div class="col-md-6">
		                            <label  class="form-label " for="nombre">Escribe el nuevo nombre de la Delegación</label>
		                            <input type="text" required class="form-control" id="nombre" name='nombre' value="{{delegacion.name}}">
		                        </div> <!-- end col-md-6 -->
								<br><br>
								<div class="col-md-6">
									<label for="grupoID" class="form-label">Sube la fotografía de la delegación</label><br>
									<input type="file" name="uploadImage" accept=".png, .gif, .jpg">
		                        </div> <!-- end col-md-7 -->
							</div>
							<br><br>
	                        <div class="col-12">
	                            <button type="submit" class="btn-outline-primary float-end ">Guardar datos</button>
	                        </div>
	                    </form>
						<br><br>
						<p>Los campos con  <span style="color:red"> * </span> son obligatorios</p>
	                </div>  <!-- end card-body -->
	            </div>  <!-- end card -->

	        </div> <!-- end col-md-7 -->
			{% if delegacion.image != '' %}
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<img src="memorias_de_proyectos/images/{{delegacion.image}}" alt="{{delegacion_data.delegacion_name}}" class="img-fluid">
						</div> <!-- end card body-->
					</div> <!-- end card  -->
				 </div> <!-- end col-md-4 -->
			{% endif %}
	    </div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}
{% endblock %}
