{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
<div class="container-md">
    <div class="row g-3">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header"><h2 style="text-align:center">Listado de actividades</h2> </div>
                    <div class="card-body">
                        <h5 class="card-title">Seleciona el actividad que deseas modificar</h5>
                        <table id="actividad_tabla" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Actividad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, actividad in actividad_data %}
                                    <tr>
                                        <td>{{actividad}}&nbsp;&nbsp;<a href="/modificarActividad={{id}}"><i class="bi bi-pen"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
	            </div> 
	        </div> 
    </div> 
</div> 
<script type="text/javascript">
    $(document).ready(function() {
        $('#actividad_tabla').DataTable({
            dom: "fltirpB",
            responsive: true,
            buttons: [
                'excel'
            ]
        });
    });
</script>
{% endblock %}
