{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}
<div class="container-md">
    <div class="row t-3 justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header"><h2 style="text-align:center">Listado de Proyectos</h2> </div>
                    <div class="card-body">
                        <h5 class="card-title">Seleciona el Proyecto que deseas modificar</h5>
                        <table id="proyecto_tabla" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Proyecto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proj, proj_id in proyecto_data.p_list %}
                                    <tr>
                                        <td>{{proj}}&nbsp;&nbsp;<a href="/modificarProyecto={{proj_id}}"><i class="bi bi-pen"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
	            </div> 
	        </div>
        </div> 
    </div> 
</div> 
<script type="text/javascript">
    $(document).ready(function() {
        $('#proyecto_tabla').DataTable({
            dom: "fltirpB",
            responsive: true,
            buttons: [
                'excel'
            ]
        });
    });
</script>
{% endblock %}
