{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
	.form-group.required .control-label:after {
	  content:"  *";
	  color:red;
	}
</style>

{% if ERROR %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-6 offset-3">
				<div class="card text-center bg-danger">
					<div class="card-header">
						<h2 style="text-align:center">ERROR</h2>
					</div>
					<div class="card-body">
						<p class="card-text">
							{{ERROR}}
						</p>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
			</div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}

{% if confirmation_data %}
	<div class="container-md">
		<div class="row g-3"">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header"><h2 style="text-align:center">Datos Guardados</h2> </div>
					<div class="card-body">
						<p style="text-align:center">Los cambios de la Diocesis {{confirmation_data}} se ha guardado correctamente</p>
					</div> <!-- end card body-->
				</div> <!-- end card  -->
		    </div> <!-- end col-md-10 -->
		</div> <!-- end row-->
	</div> <!-- end container -->

{% else %}
	<br><br>
	<div class="container-md">
	    <div class="row g-3"">
	        <div class="col-md-8">
				{% if diocesis_data.activo == "true" %}
  	            	<div class="card">
  			    {% else %}
  					<div class="card border-danger text-danger">
  			  	{% endif %}

					<div class="card-header"><h2 style="text-align:center">Formulario para cambiar los datos de la diocesis {{diocesis_data.diocesis_name}}</h2> </div>
	                <div class="card-body">
	                    <form class="row g-3" method="post" enctype="multipart/form-data" name="modificarDiocesis" id="modificarDiocesis" >
	                        {% csrf_token %}
	                        <input type="hidden" name="action" value="modificarDiocesis"/>
							<input type="hidden" name="diocesisID" value="{{diocesis_data.diocesis_id}}"/>
							<div class="form-group required">
		                        <div class="col-md-6">
		                            <label class="control-label " for="nombre">Modifica el nombre de la Diocesis</label>
		                            <input type="text" required class="form-control" id="diocesisNombre", name='diocesisNombre' value="{{diocesis_data.diocesis_name}}">
		                        </div>
								<br>
								<div class="col-md-">
		                            <label class="control-label " for="nombre">Seleciona la Delegación de la que depende</label>
									<select id="delegacion_id" class="form-select" name="delegacion_id">
										<option value="{{diocesis_data.delegation_id}}">{{diocesis_data.delegation_name}}</option>
										{% for dele_id, dele_name in diocesis_data.delegation_id_name_list %}
		                                	<option value = {{dele_id}}>{{dele_name}}</option>
										{% endfor %}
									</select>
								</div>
								<br>
								<div class="col-md-6">
									<label for="activo"  class="control-label">Estado de la Diocesis</label>
									<select id="activo"  class="form-select" name='activo'>
										{% if diocesis_data.activo == 'true' %}
									   		<option selected value="true">Activa</option>
										{% else %}
											<option selected value="false">Cerrada</option>
										{% endif %}
										   <option value = "true">Activa</option>
										   <option value = "false">Cerrada</option>
								    </select>

								</div>
							</div>
							<br><br>
	                        <div class="col-12">
	                            <button type="submit" class="btn-outline-primary float-end ">Guardar datos</button>
	                        </div>
	                    </form>
						<br><br>
						<p>Los campos con  <span style="color:red"> * </span> son obligatorios</p>
	                </div>  <!-- end card-body -->
	            </div>  <!-- end card -->
	        </div> <!-- end col-md-6 -->
	    </div> <!-- end row-->
	</div> <!-- end container -->
{% endif %}
{% endblock %}
