{% extends 'aicespana/base.html' %}
{% load static %}
{% block content %}
{% include "aicespana/cdn_table_functionality.html" %}

<div class="container-md">
    <div class="row g-3 mt-3">
        <div class="col-md-8 offset-2">
            <div class="card">
                <div class="card-header"><h2 style="text-align:center">Listado de Diocesis</h2> </div>
                    <div class="card-body">
                        <h5 class="card-title">Seleciona la Diocesi que deseas modificar</h5>
                        <table class="table table-hover" id="diocesis_tabla">
                            <thead>
                                <tr>
                                    <th>Delegación</th>
                                    <th>Diocesi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, diocesis, delegacion in diocesis_data.diocesis_list %}
                                    <tr>
                                        <td>{{ delegacion }}</td>
                                        <td>{{ diocesis }}&nbsp;&nbsp;<a href="/modificarDiocesis={{id}}"><i class="bi bi-pen"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
	            </div> 
	        </div> 
    </div> 
</div> 
<script type="text/javascript">
    $(document).ready(function() {
        $('#diocesis_tabla').DataTable({
            dom: "fltirpB",
            responsive: true,
            buttons: [
                'excel'
            ]
        });
    });
</script>
{% endblock %}
