
<div class="table-wrapper">
    <table id="delegacion" class="table table-hover mb-0">
        <thead>
            <tr>
                <th>Nombre del voluntario</th>
                <th>Ingreso</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for voluntario in voluntario_data %}
                <tr>

                    <td>
                        <a href="/formularioIngresoVoluntario/{{voluntario.pk}}">{{ voluntario.nombre }} {{ voluntario.apellido }}</a>
                    </td>
                    <td>{{ voluntario.ingreso }}</td>
                    <td>{{ voluntario.fecha }}</td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
</div> <!--  end of table wrapper  -->