{% extends "aicespana/base.html" %}

{% block title %}
    Log in to Django Boards
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <h4 class="card-title" >Tu usuario y/o contraseña son incorrectas.</h4>
                    <div class="card-body">
                        <p> Intentalo de nuevo</p>
                    </div>  <!-- end card-body -->
                </div>  <!-- end card -->
            </div> <!-- end col-md-6 -->
        </div> <!-- end row -->
    {% endif %}
    {% if next %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    {% if user.is_authenticated %}
                        <h5 class="card-title">Tu cuenta de Usuario no tiene privilegios para acceder a esta página.</h5>
                        <div class="card-body">
                            <p> Para continuar, por favor haz "login" con un Usuario que tenga acceso.</p>
                        </div>  <!-- end card-body -->
                    {% else %}
                        
                    {% endif %}
                </div>  <!-- end card -->
            </div> <!-- end col-md-6 -->
        </div> <!-- end row -->
    {% endif %}
  <br><br>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"></h3>

          <div class="text-center py-2">
                <small>
                    <p> Si has olvidado tu contraseña contacta con tu administrador </p>

                </small>
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}
